[2018-05-02 13:43] enzococca opened #1 "ubuntu 16.04 problem with the installation"
npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.2.3
npm WARN optional Skipping failed optional dependency /watchpack/chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.2.3
npm WARN optional Skipping failed optional dependency /webpack

[2018-05-02 14:11] volterra79 commented on #1
Hi Enzo,
it seems that are just npm warning messages and not error. Which is your npm version?
Thanks

[2018-05-02 14:39] enzococca commented on #1
npm 3.5.2

enzo@enzo-VirtualBox:~/g3w-client$ npm install
npm WARN deprecated gulp-minify-css@1.2.4: Please use gulp-clean-css
npm WARN deprecated gulp-util@3.0.8: gulp-util is deprecated - replace it,
following the guidelines at https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5
npm WARN deprecated gulp-clean-css@2.4.0: breaking changes from clean-css
4.x. Please install gulp-clean-css 3.x
loadDevD

[2018-05-02 14:47] enzococca commented on #1
it says
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.2.3
do you have the same warning?

[2018-05-02 14:47] volterra79 commented on #1
@enzococca please ignore WARNING message for now and follow all the installation steps. The package.json file contains some package not used for now. I''ll provide to clean up all unused pagaes. Please le  me know if the last step "gulp default" it run without isses.
Thanks

[2018-05-02 14:52] volterra79 commented on #1
@enzococca same Warning beacause it is an optional packagesthat can be installed only on OSX.

[2018-05-02 14:53] enzococca commented on #1
ok I will try and than I will say you

[2018-05-02 16:01] enzococca commented on #1
when try to gulp default;

~/g3w-client$ gulp default
Comando "gulp" non trovato. Forse si intendeva:
 Comando "gslp" dal pacchetto "ghostscript" (main)
gulp: comando non trovato

[2018-05-02 16:16] volterra79 commented on #1
@enzococca i changed Readme and package.json. The issue is referred to a gulp package installation. I have a gulp globally so i can run gulp from any path. Now if you follow the documentation you can find a new command "npm run default" that wiull run gulp deafult using loally gulp installation inside /node_modules/: Please let me know

[2018-05-02 16:25] volterra79 commented on #1
@enzococca did you pull changes?

[2018-05-02 16:28] enzococca commented on #1
I followed the documentation in readme.
so wich changes?

[2018-05-02 16:30] volterra79 commented on #1
@enzococca you have to run : git pull from g3w-client folder to get repository changes, I update package.json file

[2018-05-02 16:31] enzococca commented on #1
ah ok no. I will try

Il giorno mer 2 mag 2018 alle ore 18:30 Francesco Boccacci <
notifications@github.com> ha scritto:

--
Enzo Cocca PhD
in "Science and Technology for Archaeology and Cultural Heritage"
mail: enzo.ccc@gmail.com
cell: +393495087014

[2018-05-02 16:47] enzococca commented on #1
enzo@enzo-VirtualBox:~/g3w-client$ npm run default

/home/enzo/g3w-client/gulpfile.js:45
let production = false;
^^^

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at Object.Module._extensions..js (module.js:417:10)
    at Module.load (module.js:3

[2018-05-02 16:49] enzococca commented on #1
In the first installation I need to install in var/www?
maybe this is the problem?

[2018-05-03 06:46] volterra79 commented on #1
@enzococca. Please let me know if you can install new node version, otherwise i chenge the code

[2018-05-03 07:34] enzococca commented on #1
ok I managed to install but using thi method:
1- in the folder where I g3w-client I given this comand:
curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.32.1/install.sh | bash^C
2- nvm install lts/* (to install the last version of nodejs)
3- npm install
4. npm default run

but now I have a problem;
the port :3000 work but I cant see nothing
the port 8000 have the error:
{ Error: connect

[2018-05-03 07:46] volterra79 commented on #1
@enzococca . Now the client it works. No you have to install the ther server (you can find here https://github.com/g3w-suite/g3w-admin). After install the admin , you have to change the config file of the g3w-client (config.js in main folder). Please let me know. Thanks

[2018-05-03 07:46] wlorenzetti commented on #1
Hi Enzo,

g3w-client is the 'raw' developing client, not compiled.

For use it, you have to clone also g3w-admin (main suite app) the main
Django server suite app and run following the README.

W

Il 03/05/2018 09:34, enzo ha scritto:

--

Walter Lorenzetti phD
email: lorenzetti@gis3w.it
skype: aiki74
twitter:w_lorenzetti <https://twitter.com/w_lorenzetti>
g+:aiki74 <https://plus.google.com/117055

[2018-05-03 07:50] enzococca commented on #1
Ciao Walter
yesssss!!! Ok I will try and let ypu know

[2018-05-03 08:08] enzococca commented on #1
the path to virtualenvs directory is the path where I have di g3w-admin folder?
export WORKON_HOME=<path_to_virtualenvs_directory>

[2018-05-03 08:40] volterra79 commented on #1
@enzococca this is referred to admin part installatio. Check
http://virtualenvwrapper.readthedocs.io/en/latest/install.html. WORKON_HOME is the directory here you want to install your virtualenv. For example:
1)mkdir /home/enzo/virtualenvs (create a folder wher you store all your virtualenvs)
2)from /home/enzo type nano .bashrc
3)At the and of the file write and save
  export WORKON_HOME=/home/enz

[2018-05-03 09:45] enzococca commented on #1
thanks a lot Francesco.

So my installation has been very well but i cant connect to server and if I try npm run g3w-admin he says missing scripts

(g3wsuite) enzo@enzo-VirtualBox:/var/www/g3w-client$ npm run default

[11:43:43] Using gulpfile /var/www/g3w-client/gulpfile.js
[11:43:43] Starting 'serve'...
[11:43:43] Starting 'clean'...
[11:43:43] Finished 'clean' after 29 ms
[11:43:43] Starting 'b

[2018-05-03 09:53] volterra79 commented on #1
@enzococca the last step from server side (g3w-admin) is to run development webserver.
From main g3w-admin folder you have to type:
1) cd g3w-admin
2) python manage.py runserver (default run on port 8000)
Please let me know

[2018-05-03 10:18] enzococca commented on #1
ok the server run now
two question:
1- to use qgis client I must publish a project? (becpuse if run
localhost:3000 I have error)

2- i can publish only project qgis2x or I can use also qgis3x?
 thanks a lot

Il giorno gio 3 mag 2018 alle ore 11:53 Francesco Boccacci <
notifications@github.com> ha scritto:

--
Enzo Cocca PhD
in "Science and Technology for Archaeology and Cultural Heritage"
mail: en

[2018-05-03 10:39] volterra79 commented on #1
@enzococca Yes. You have to publish a qgis project (2.x for now). After that you can do 2 things:
1) use development client (localhost:3000) and in the url you have to type:
 http://localhost:3000/?project=<goupnamecreateinadmi>/<projecttype: es qdjango>/zidof the project>
example http://localhost:3000/?project=testgroup/qdjango/1
2) npm run admin (compile client adn put all files inside client fo

[2018-05-04 08:44] #1 closed

[2018-06-06 16:12] dpadron opened #2 "Error installing the client."
First congratulate them on a wonderful project. I am beginning to know him I hope to advance well in its use. I managed to install it on Ubuntu Server 16.04.

http://192.154.255.80

Now I want to install the g3wclient but when executing npm run default the following error is generated, I am grateful for help or if you can indicate the correct steps for its installation. Thanks for the attention

0

[2018-06-06 16:22] volterra79 commented on #2
Thanks @dpadron.
Maybe is a porblem of gulp installation. From ../g3w-client/ can you type gulp?
Thanks

[2018-06-06 16:33] dpadron commented on #2
![image](https://user-images.githubusercontent.com/7094961/41052036-0aefe4e2-69b8-11e8-9d58-f0258c32ef21.png)

[2018-06-06 16:35] dpadron commented on #2
![image](https://user-images.githubusercontent.com/7094961/41052187-711d35e4-69b8-11e8-9444-7a39bd4a4be8.png)

[2018-06-06 16:47] volterra79 commented on #2
It seems that is a problem of node modules installation.
Did you run npm install?
Try again to type: npm install del
Let me know

[2018-06-06 16:56] dpadron commented on #2
![image](https://user-images.githubusercontent.com/7094961/41053264-5284f9fc-69bb-11e8-9e46-a5b6693eb450.png)

[2018-06-08 09:44] volterra79 commented on #2
Hi @dpadron. I seem that is a problem on nodejs version.
Can you try to install node.js v.8.x.x

Thanks

[2020-04-01 09:42] wlorenzetti opened #4 "Add i18n management"
Add on top toolbar a language widget for language sent into initconfig client api:
https://github.com/g3w-suite/g3w-admin/commit/08ce3f2cb4d6233c84c7f0b725420bbf29f8dd68

[2020-04-01 11:16] wlorenzetti opened #5 "Print broken on Edge"
On Edge pdf or png print doesn't show.
I.e. https://sit.parco.gran-paradiso.g3wsuite.it/it/map/pianificazione-e-catasto/qdjango/19/
G3W-SUITE verion py2

[2020-04-03 15:16] volterra79 commented on #5
@wlorenzetti fixed.

[2020-05-19 13:06] elpaso opened #6 "typo"
![Screenshot_20200519_150727](https://user-images.githubusercontent.com/142164/82330038-933b0a00-99e2-11ea-9713-ebb0f408fcf8.png)

[2020-05-27 06:29] #4 closed

[2020-05-27 06:31] volterra79 commented on #6
@wlorenzetti fixed

[2020-05-27 06:31] #6 closed

[2020-05-27 06:32] #5 closed

[2020-07-07 10:10] #2 closed

[2021-04-08 05:03] coderpengpeng opened #7 "TypeError"
TypeError: Cannot read property 'split' of null
At the moment is not possible show map

what should i do next

[2021-04-08 07:28] volterra79 commented on #7
@liyuepeng2020 to run the dev project you hav to write the below url structure:
`
<LOCALIP>:<PORT>/?project=<NAMEOFADMINGROUP>/<PROJECTTYPE>/<PROJECTID>
`
example:

http://192.168.1.2:3000/?project=3857/qdjango/55

[2021-04-09 01:28] Libra-gyf commented on #7
@to run the dev project http://192.168.1.2:3000/?project=3857/qdjango/55

Which file should I change?

[2021-04-09 09:24] volterra79 commented on #7
@liyuepeng2020 in main g3w-client directory you can find `config.template.js`

[code]

You have to copy it and rename `config.js`
After that you has to set:

[code]

[2021-07-24 06:41] zanollim opened #8 "Measure tool not working with reprojection"
QGIS
I have Postgis layers in EPSG:25832 CRS
I created a QGIS project, with that layers, reprojected in EPSG:3857 CRS

G3W-Suite
I created a group with EPSG: 3857 CRS
I added my QGIS project in EPSG:3857 CRS (with no errors)

When I open the client the measure tool (line, area) is not working

All things are working if I set the same EPSG:25832 in QGIS and G3W-Suite

can anyone confirm that could

[2021-07-25 15:21] zanollim opened #9 "Client unstable with 3D layers"
I am working with a project including PointZ and LinestringZ Postgis layers.
I noticed that g3w-admin loads the project with no errors/warnings and allow me to enable editing too.
When I open the map, unfortunately the client appears unstable: for example the highlight of the features does not work, and the editor plugin does not start.
Can you confirm that GeometryZ are not supported?
(More in de

[2021-07-26 06:56] leolami commented on #9
This situation could be corrected in the new version (3.3) which will be released at the beginning of next October
Stay tuned

[2021-07-30 17:00] zanollim commented on #8
I'm sorry, I have to correct this issue: the problem is not related to reprojection, but to EPSG:3857 itself
Projects with layers in EPSG:3857 native (no reprojection) have the same issue

[2021-08-02 07:24] volterra79 commented on #8
@zanollim which g3w-suite version ? Thanks

[2021-08-02 08:42] zanollim commented on #8
@volterra79 g3w-suite-docker package, 3.2.x version
thanks

[2021-08-02 09:04] zanollim commented on #8
The error in the Firefox browser console is:
`Uncaught TypeError: ol.Sphere is undefined`

[2021-08-02 09:16] wlorenzetti commented on #8
Hi @zanollim did you build the g3wsuite/g3w-suite:v3.2.x image or did you download it from docker-hub?
Docker.hub version sorry is 2 months oldest, I'll update very soon..

[2021-08-02 09:24] zanollim commented on #8
I downloaded the zip code from here* (github), done the confugurations (following the doc) and then docker-compose up -d
I did not download images directly from docker hub

*https://github.com/g3w-suite/g3w-suite-docker/archive/refs/heads/v3.2.x.zip

[2021-08-02 13:07] volterra79 commented on #9
@zanollim if you update the code as suggested for #8 you can resolve it. Let me know

[2021-08-03 06:04] zanollim commented on #8
I confirm, now it works! Thanks Francesco

[2021-08-03 06:14] zanollim commented on #9
Thanks, with the last update now the editing tool starts! I will do more test next days.
But with 3D layers I cannot see the highlight/zoom button when identifying the feature: see the screenshot pasted, where the point feature is a Postgis PointZ geometry

![immagine](https://user-images.githubusercontent.com/1912915/127966143-215bdef9-e610-4f5d-975a-be46ad3927f0.png)

[2021-08-03 06:37] zanollim commented on #9
update: download features (as CSV, SHP, ...) does not work: error 500

[2021-08-03 06:57] wlorenzetti commented on #9
@zanollim please can you upload a small project example with 3D data example? Thanks

[2021-08-03 08:51] volterra79 commented on #9
@zanollim do you set add geometry to response in project properies?

[2021-08-03 16:38] zanollim commented on #9
@wlorenzetti See attached project example with 3 layers:
1 Point Layer (Luoghi di posa)
1 PointZ Layer (Località Catasto)
1 LinestringZ Layer (Tratte Sentieri)

the screenshot shows that only the Point Layer Luoghi di Posa shows the highlight/zoom button

[progetto.zip](https://github.com/g3w-suite/g3w-client/files/6925700/progetto.zip)

![image](https://user-images.githubusercontent.com/1912915/1

[2021-08-04 05:17] wlorenzetti commented on #9
@zanollim  thanks can you upload also a small excerpt of the data?

[2021-08-04 08:22] zanollim commented on #9
Here a small excerpt of the 3 layers in json format
Let me know if you need another format (i.e pgdump)

[rilievi.geojson.zip](https://github.com/g3w-suite/g3w-client/files/6929705/rilievi.geojson.zip)

[2021-08-04 17:53] zanollim commented on #9
update: editing of layers works only with 2D layer
with 3D layers when saving the update there is an error; see the screenshot where I'm trying to save a point moved in different position

![immagine](https://user-images.githubusercontent.com/1912915/128229514-849149c2-2f7a-4196-b07f-39c2344e96df.png)

[2021-08-05 08:48] volterra79 commented on #9
@zanollim i investigate on it. I let you know

[2021-10-04 16:56] zanollim commented on #9
@wlorenzetti @volterra79 any news in the upcoming 3.3 release?

[2021-10-05 07:44] wlorenzetti commented on #9
@zanollim v.3.3 could fix editing for 3D geodata. Please use it after Wednesday official release date of V.3.3.x.

[2021-10-12 07:52] zanollim commented on #9
Thanks @wlorenzetti
I'm waiting for the official docker hub image here:
https://hub.docker.com/r/g3wsuite/g3w-suite/tags

Pay attention that in the github documentation for the new 3.3.x release:
https://github.com/g3w-suite/g3w-suite-docker/tree/v3.3.x
in the _Build_ section you are referring to the `dev` version, not to the `3.3.x`:
`docker build -f Dockerfile.g3wsuite.dockerfile -t g3wsuite/g3w

[2021-10-12 18:59] #8 closed, assigned to volterra79

[2021-10-12 19:11] zanollim commented on #9
@wlorenzetti I've done the upgrade to 3.3 without problems
- I confirm the fix for 3D geodata, great!
- I'm not able to cut a line feature (I draw the cutting line, but nothing happens)
- Still present the problem with highlight/zoom button when identifying 3D features (see my above comments of 3 August)

[2021-10-13 10:42] volterra79 commented on #9
@zanollim fixed cut line and polygon Z  (point 2)
Point 3 - (Still present the problem with highlight/zoom button when identifying 3D features (see my above comments of 3 August)
Please check which version of qgiserver has (3.16.11 solve the issue)
Please let us know

[2021-10-13 15:15] zanollim commented on #9
@volterra79

thanks, I will test it ASAP

I'm using your docker image, not any external qgis server:
`root@af2c1d0c7df0:/code# qgis_mapserver --version`
`QGIS Development Server 3.16.11-Hannover`

[2021-10-15 07:54] moovida opened #192 "Case insensitive filename collisions (Windows and Mac Os)"
Hi there, I am trying to give the g3w-admin [readme](https://github.com/g3w-suite/g3w-admin) a go on a Macos machine.

I little list of hickups that you might or might not find interesting:

## Case insensitivity on checkout

It seems that there are some images that have the same names form a case insensitive point of view.

This gives problems on macos (or windows), which are caseinsensitive envi

[2021-10-20 18:19] zanollim commented on #9
@volterra79

I noticed that with the "Query BBOX layer" tool all the results in the right panel do have the highlight/zoom button, great!
So I think that it's not a problem related to qgis server, but to the "Query layer" tool and to the "Search" tool.

This incorrect behaviour is an important problem, because when I search a feature I cannot zoom/highlight on it.

If you want I can share you a te

[2021-10-20 18:56] volterra79 commented on #9
@zanollim Sure. The problem is related to WMS service (simple query). Query BBOX use GetFeatureInfo with SERVICE **WFS** and in the response geometry information is present. For **Search** geometry issue  you cn bypass the problem setting G3W_CLIENT_SEARCH_ENDPOINT = 'api' instead G3W_CLIENT_SEARCH_ENDPOINT = 'ows'  in the g3w-admin local_setting.py so you because 'ows' (default behaviour) use WMS

[2021-10-20 20:06] zanollim commented on #9
@volterra79 Bingo, now search works, thank you very much!
Please let me know when simple query, the WMS service, will be also fixed

[2021-10-21 10:31] volterra79 commented on #9
@zanollim I let you know. Thanks

[2021-12-01 07:52] sindile opened #10 "Using dynamic content to change the map title"
I have deployed G3WSuite using https://github.com/g3w-suite/g3w-suite-doc

I want to allow a use to modify the map title of a layout. Something similar to https://docs.lizmap.com/current/en/publish/configuration/print.html

In my print layout in QGIS I have configured the label title with dynamic content see below image:
![image](https://user-images.githubusercontent.com/1027916/144193258-63db6a4f

[2021-12-03 08:42] leolami commented on #10
Hello,
unfortunately the management of the elements of the customizable print layout, and in particular the contents of the labels, are not supported

It is therefore not possible to allow the user to customize, on the flym, the content of a label as in LizMap

This feature will likely be integrated in one of the next versions to be released in 2022

[2021-12-23 09:14] leolami commented on #10
Hi Sindile
I wanted to update you on the matter

The functionality has been implemented on the current version 3.3

By updating your installation you will be able to create customized titles always based on the items id system

Good job
Leonardo

[2021-12-23 09:14] #10 closed, assigned to nobody

[2022-01-03 14:31] lucamanga opened #11 "strip descriptions in "Switch Map" button"
Hello,

as an option, is it possible to strip the descriptions in the popup following the "Switch Map"?

I am referring to this:

![immagine](https://user-images.githubusercontent.com/23235179/147942479-4ea3f8d3-e2d6-46a0-807d-415af503fe43.png)

[2022-01-04 08:35] leolami commented on #11
Hello Luca,
unfortunately this option is not provided in the current version

I set this issue as enanchement

Regards
Leonardo

[2022-03-16 07:10] #9 closed, assigned to volterra79

[2022-03-16 07:10] #7 closed, assigned to volterra79

[2022-04-14 12:45] DanyHubGit opened #12 "Parameterized URLs: coordinate GPS"
Buongiorno
è possibille passare al client un comando per poter indirizzare la visualizzazione verso delle coordinate GPS specifiche?
Se non è possibile farlo da interfaccia, esiste un API rest da invocare che può indirizzare la visualizzazione verso uno specifico punto?

Vi ringrazio

[2022-04-14 13:57] volterra79 commented on #12
Buonasera @DanyHubGit. Per coordinates gps intende una series di punti (x,y / lat,lon) o su alcune features che sono su mappa?
Al momento è possibile fare questo
List of URL Params available on G3W-SUITE (3.3 +)

**map_extent** (Zoom to map extent):
This parameter is useful set starting project map extent to a specific Map extent
Ex:
<url_project>?map_extent=Xmin, Ymin,Xmax,Ymax

**zoom_to_fid** (

[2022-04-15 14:58] zanollim opened #13 "Change Map not working for me"
Version 3.4
when you "Change Map", the new map is loaded, but you can do nothing because of the greyed out background
the only way is reolad the page

see [Screencast.zip](https://github.com/g3w-suite/g3w-client/files/8496589/Screencast.zip)

[2022-04-15 16:10] DanyHubGit commented on #12
Intendo la possibilità di aggiornare la visualizzazione della mappa di frontend su uno specifico punto geografico, passando delle coordinate lat/lon di un punto nell'url (quindi come parameterized url ).
[code]
In questo modo la visualizzazione ha la possibilità di sincronizzarsi in un punto geografico specifico di interesse.

Se non presente tale funzionalità, avete indicazioni su come poter real

[2022-04-17 17:14] zanollim opened #14 "Measure tool not correct?"
I notice difference between measures in QGIS project and G3W Client

See below image:
My QGIS Project is in EPSG:3857 and when I do ellipsoidal distance measure, I read 120 meters (correct measure)
If I repeat the measure in the G3W Client (the same project) the distance is wrong (170 meters), because, I suppose, you are using cartesian distance and not ellipsoidal distance

Is it correct?

![imag

[2022-04-17 18:35] zanollim commented on #14
The same behaviour in the official 3.4 demo (https://v34.g3wsuite.it/it/map/demo-34/)

If you try to measure the length of the bottom right scalebar:

![image](https://user-images.githubusercontent.com/1912915/163727774-53f02048-27d0-40ad-8a05-e0e04aaffb8f.png)

[2022-04-19 08:32] volterra79 commented on #14
@zanollim fixed. Please let me know. Thanks

[2022-04-19 08:34] volterra79 commented on #13
@zanollim i need more information to check in development enviroment. Do you have some plugins loaded?

[2022-04-19 12:38] zanollim commented on #13
@volterra79 sorry, which kind of plugin? In QGIS Desktop?

I attach the error log from Chrome, thrown when I change map

[chrome-1650371494893.log](https://github.com/g3w-suite/g3w-client/files/8512989/chrome-1650371494893.log)

[2022-04-19 13:19] volterra79 commented on #12
@DanyHubGit è stata aggiunta sul branch dev. Appena rilasciamo faccio sapere.

[2022-04-19 13:25] volterra79 commented on #13
@zanollim I mean if you have some layer on editing (from G3W-SUITE point of view is a plugin) or chart enabled. Can you please attach a projects with some example data so i can test it in development enviroment. Thanks

[2022-04-19 14:24] zanollim commented on #13
@volterra79

Did you try your official demo https://v34.g3wsuite.it/it/map/demo-34/ ?
If I change map to "Expressions" or to "Social-statistical aspects" I encounter exactly the same problem!

Does it work for you?

[2022-04-19 14:29] volterra79 commented on #13
@zanollim i'll check and let you know. Thanks

[2022-04-20 12:18] volterra79 commented on #12
@DanyHubGit è stato aggiunta anche nel branch 3.4.1.
Due possibili strade:
?**lat**=valore_at&**lon**=valore_lon i valori devono essere in **EPSG:4326** (degree)
?**x**=valore_x&**y**=valore_y in coordinate mappa

La mappa si centrerà sul punto

[2022-04-20 14:03] volterra79 commented on #13
@zanollim fixed. Try and let me know. Thanks

[2022-04-20 16:45] DanyHubGit commented on #12
Grazie mille per il supporto!
Credo che sia una funzionalità utile a livello di prodotto.

Una domanda: Ma le coordinate gps possono essere visibili nella toolbar, nella stessa modalità di x,y?
In questo modo, un utente può avere i riferimenti spaziali di ogni punto selezionato con il mouse.

![image](https://user-images.githubusercontent.com/6823617/164281292-43bf53dc-2825-43ba-9e8e-53c0472734c4.

[2022-04-20 16:55] zanollim commented on #13
Thanks @volterra79, I confirm, it works now!

[2022-04-20 16:55] #13 closed, assigned to nobody

[2022-04-20 16:55] zanollim commented on #14
@volterra79 now the measure tool is correct, thanks!

[2022-04-20 16:56] #14 closed, assigned to nobody

[2022-04-21 06:16] volterra79 commented on #12
@DanyHubGit. Apra un'enhancement con la descrizione precisa di quello che vuole. La terremo in considerazione per i prossimi sviluppi. Grazie

[2022-04-21 09:58] #12 closed, assigned to nobody

[2022-04-21 10:07] DanyHubGit opened #15 "Visualizzazione coordinate GPS"
Good morning
I point out two possible enhancements.

### 1. show the GPS coordinates of the mouse at the user interface level

exactly as currently done for x and y:

![image](https://user-images.githubusercontent.com/6823617/164431269-3f83770d-5d64-42c0-a607-d70744d47d89.png)

### 2. show the GPS coordinates of the selected point in the layer query phase at the interface level.

At present, click

[2022-04-21 10:14] DanyHubGit opened #16 "Import file kmz"
Proposta di enhancement

Valutare la possibilità di creare nuovi layer da file *.kmz

![image](https://user-images.githubusercontent.com/6823617/164433484-324393a6-e1b8-419e-9720-e182adebf06c.png)

Grazie

[2022-04-21 13:30] volterra79 commented on #16
@DanyHubGit grazie per il suggermiento. Tengo in considrerazione e faccio sapere quando verrà rilasciata

[2022-04-21 13:50] wlorenzetti commented on #16
Vai riprova ora

W

Il 21/04/22 12:14, DanyHubGit ha scritto:

--

Walter Lorenzetti phD
email: ***@***.***
skype: aiki74
twitter:w_lorenzetti <https://twitter.com/w_lorenzetti>
g+:aiki74 <https://plus.google.com/117055903318462447104/>
Tel/Cell: (+39) 347-6597931
Viale Verdi 24 - 51016 Montecatini Terme (PT)
Nuovi corsi QGIS e GFOSS
<http://gis3w.it/it/calendario-corsi-software-geografici>

[2022-04-21 14:06] volterra79 commented on #16
@DanyHubGit aggiunto al branch dev. Fai sapere

[2022-04-21 14:10] volterra79 commented on #12
@DanyHubGit aggiunto sul branch dev  informazione geometrica ai tre tipi di Query: COORDINATES, BBOX e POLYGON. Sotto il titolo dei risultati appare ora icona (da cliccare) più informazioni riguardanti il tipo di query che ha generato i risultati. Se viene cliccato sull'icona la mappa si centra visualizzando il punto, poligono e BBOX che ha dato origine ai risultati. Attendo un responso. Grazie

[2022-04-27 11:13] DanyHubGit commented on #16
Confermo che i file kmz sono caricati  correttamente. Grazie

[2022-04-27 11:13] #16 closed, assigned to nobody

[2022-04-27 11:24] DanyHubGit opened #20 "Parameterized URLs: Enhancement"
To improve interaction and usability, it is proposed to introduce a control:

- upon receipt of a parameterized call, if the input parameters are already contained in the displayed area, then no client refresh is performed, but only a repositioning of the map.
- If the input parameters, on the other hand, are outside the displayed area, then the entire url will be refreshed.

In this way, the inte

[2022-04-27 11:28] DanyHubGit commented on #15
In the current dev version 3.4.1 the x and y coordinate display has been introduced.

![image](https://user-images.githubusercontent.com/6823617/165508351-f41f2ea6-4cf5-4775-a8d8-fe9a4f7817f8.png)

This visualization should be not only in X and Y but also in GPS coordinates, consistent with the EPSG of the displayed map.

[2022-04-27 11:33] DanyHubGit commented on #12
Ho inserito un commento nell'issue creata appositamente per tracciare la funzionalità.
Per non creare confusione, lascio chiusa questa issue.
Grazie

[2022-04-27 12:39] volterra79 commented on #15
@DanyHubGit the point or bbox is in the map coordinate system. If the map is in EPSG:4326 you should see the values in lat and lon. Do you confirm?

[2022-05-06 09:40] rpispico opened #22 "Salvare le coordinate GPS"
Come opzione salvare le coordinate GPS se lo stesso è attivo.

In caso di rilievo sul campo sarà possibile conoscere le coordinate da dove è stata inserita/modificata la feature.

[2022-05-06 09:41] volterra79 commented on #22
@rpispico può spiegare meglio il flusso?

[2022-05-06 16:52] rpispico commented on #22
Sarebbe utile avere le coordinate del GPS salvate (come opzione come accade per utente creatore e utente modificatore) in un campo.
Si tratta delle coordinate della posizione GPS di quando l'utente salva l'editing.

Se GPS spento (o editing fatto da PC) il campo risuterà vuoto

[2022-06-03 10:06] Raruto opened #26 "Make use of `engines` property inside `package.json`"
It should be worth a thousand words about the recommended **npm** and **node** versions to develop, see: https://docs.npmjs.com/cli/v7/configuring-npm/package-json#engines

_Have a nice day,
Raruto_

[2022-06-03 11:11] volterra79 commented on #26
@Raruto thanks

[2022-06-03 13:11] Raruto opened #27 "Git tags and semantic versioning"
If possible I would avoid the use of git branches to keep track of previous versions of this library, indeed, when possible I would delete branches that are too old.

Alternatively you can use automatic tagging using the [version](https://docs.npmjs.com/cli/v8/commands/npm-version) property of `package.json`.

For example:

[code]

_Have a nice day,
Raruto_

[2022-06-03 13:14] volterra79 commented on #27
@Raruto I agree. We just keep just working version on various client installation

[2022-06-03 13:51] #27 closed, assigned to nobody

[2022-06-06 07:21] Raruto commented on #27
Ok, I haven't checked, but let me know if the version update is done anyway in case the tests fail:

https://github.com/g3w-suite/g3w-client/blob/8c304bb2961c39d492ad7f65bf5b2c09f085d148/package.json#L14

and also regarding the push of changes (tags) in the postversion script

https://github.com/g3w-suite/g3w-client/blob/8c304bb2961c39d492ad7f65bf5b2c09f085d148/package.json#L16

_Raruto_

[2022-06-06 07:48] volterra79 commented on #27
@Raruto i let you know as soon as possible. Thanks

[2022-06-07 13:41] #26 closed, assigned to nobody

[2022-06-13 09:36] tudorbarascu opened #36 "https://dev.g3wsuite.it/en/map/demo-34/ print Broken?"
Hi, was just scrolling around the print part of https://dev.g3wsuite.it/en/map/demo-34/

and it seems the select of the map part in the print layout is broken as I cannot select the exact map zone of the print.

Is this a BUG or it is as intended?

Thank you!

<img width="1313" alt="image" src="https://user-images.githubusercontent.com/3179646/173324184-b23c5cde-a206-4626-b39e-7869ccb8517a.png">

[2022-06-13 13:40] volterra79 commented on #36
@tudorbarascu i tried to check it but i can't replicate this issue in my browser. Can you write me more info about which browser you use and which are the steps that you follow to get the issue?

Thanks

[2022-06-13 13:52] tudorbarascu commented on #36
@volterra79 Hey! Just noticed this happens only when I access that from my 16 inch Macbook M1-Pro.

I tried with Chrome, Firefox, Safari, all have the same bug. If I access the site from my linux box, it works allright.

So it's a MacOs specific problem

[2022-06-13 13:54] volterra79 commented on #36
@tudorbarascu Thanks. I'll try to replicate on Mac. Thanks for your help. I let you know

[2022-06-14 17:17] tudorbarascu opened #37 "Project predefined scales propagated to the client"
![image](https://user-images.githubusercontent.com/3179646/173635807-7feb6ed7-d895-47fe-b44a-cc52b6486fd2.png)

Having a project with predefined scales like above, would have been nice to see those propagated to the client (at least for the same EPSG).

Also, the print scales would have been great if there could have been added/edited in the admin. For now, I noticed that they're hardcoded in the

[2022-06-15 10:36] tudorbarascu opened #39 "It's not currently possible to translate the "Template" and "Labels" strings in the Print Layouts form"
The title is clear :). As you can see from the picture, the Template and Labels parts are not translatable. I've searched in the index.js file and I couldn't see them. Would be nice to have.

<img width="336" alt="image" src="https://user-images.githubusercontent.com/3179646/173807523-9ec893cf-2351-455e-9d24-30bf5a667cd5.png">

[2022-06-15 10:49] tudorbarascu opened #40 "Search Query Builder layer list are based on layer shortname"
Hello,
IMHO Search Query Builder layer list should be based on layers title and not on the shortname
Is this intended?

All the best

[2022-06-15 12:16] volterra79 commented on #39
@tudorbarascu added template and labels translation. Can you do a pull request with romanian tanslation?
You can find it :

[code]

[2022-06-15 12:30] tudorbarascu commented on #39
@volterra79 Thank you!

[2022-06-15 12:30] #39 closed, assigned to nobody

[2022-06-15 12:47] tudorbarascu commented on #40
This is also true for the Editing layers dialog: I have the ``cona`` shortname displayed instead of the title of the layer ``water pipes``.

<img width="341" alt="image" src="https://user-images.githubusercontent.com/3179646/173830196-a5f25f5c-4704-4925-a209-06e644cf8bf7.png">

[2022-06-28 08:51] leolami opened #42 "Failure to disable layer / user filter"
I had created a visibility filter from the Buildings layer for user Anonymus

Then I removed it, but the user Anonymus still doesn't see the layer in the project

https://v34.g3wsuite.it/it/admin/qdjango/g3w-suite-demo/projects/public-building-management-spatialite/layers/#

https://v34.g3wsuite.it/it/map/g3w-suite-demo/qdjango/97/

[2022-06-28 09:52] wlorenzetti commented on #42
@leolami I just try but for me everything works right

[2022-07-02 07:40] #42 closed, assigned to wlorenzetti

[2022-07-04 07:33] tudorbarascu commented on #36
Din you manage to reproduce? I've attached a simple test project.

[print_bug.zip](https://github.com/g3w-suite/g3w-client/files/9037272/print_bug.zip)

[2022-07-04 07:40] volterra79 commented on #36
@tudorbarascu att the moment we can't debug it on Mac. I f you found the problem can you add a pull request with a solution. Thanks

[2022-07-04 07:43] tudorbarascu commented on #36
But the wrong calculus of the map bbox can bee seen also on the default project, even from Linux.

Look at the map West boundary.. is next to 4 buildings.
![image](https://user-images.githubusercontent.com/3179646/177105776-7a6ece37-3c3a-4661-be52-f6b1deddaee8.png)

But printing outputs this image, and you can see it cuts the closest builing (only 3 now):
![image](https://user-images.githubusercon

[2022-07-04 07:44] tudorbarascu commented on #36
Hey.. it's not only on Mac, on MAc is far worse. I'll try when I have the time to see if I can help. All the best and thanks.

[2022-07-04 09:50] volterra79 commented on #36
@tudorbarascu ah ok. I'll check and i let you know. Thanks

[2022-07-05 09:04] Raruto opened #44 "Check if the `regenerator-runtime` dependency is still useful nowadays"
With the transition to babel 7 which will take place in version 4 it is necessary to check if this package still makes sense to exist (eg. IE 11?).

https://github.com/g3w-suite/g3w-client/blob/6f844148168e844199e65254fb89173b4d55a3da/src/app/main.js#L3-L4

More info here:

- https://www.npmjs.com/package/regenerator-runtime
- https://stackoverflow.com/questions/65378542/what-is-regenerator-runtim

[2022-07-05 09:08] volterra79 commented on #44
@Raruto no make sense. We consider IE non more supported. So please remove it. Thanks

[2022-07-05 09:12] Raruto commented on #44
@volterra79 ok, of course keep in mind that I have not verified that statement (I don't know exactly if that piece of code is necessary anyway). I added it here as a reminder otherwise I will lose the pieces along the way 😄.

_Greetings,
Raruto_

[2022-07-05 09:19] volterra79 commented on #44
@Raruto ok. Thanks

[2022-07-05 09:51] Raruto opened #45 "Make the `ApplicationTemplate.fail({language='en', error })` function truly translatable"
As you can see the following function allows the use of an alternative language, but in fact the values of i18n are hard coded inside the function itself instead of using a global configuration file:

https://github.com/g3w-suite/g3w-client/blob/6f844148168e844199e65254fb89173b4d55a3da/src/app/gui/app/index.js#L871-L884

I haven't checked if it's used elsewhere in the code, but for the moment I fo

[2022-07-05 10:08] volterra79 commented on #45
@Raruto it's used only in these two points of application code.We need  to  translate the error in all languages

[2022-07-05 10:17] Raruto opened #46 "Add some info within the readme file related to plugin development"
The readme in general needs to be improved on other topics as well, but at the moment it doesn't seem to me that much information is reported about it.

If I recall correctly, these are the only points where a casual user can actually guess something:

- https://github.com/g3w-suite/g3w-client/blob/6f844148168e844199e65254fb89173b4d55a3da/.gitignore#L14
- https://github.com/g3w-suite/g3w-client/bl

[2022-07-05 10:51] Raruto opened #47 "Check for and remove all references to the `_gis3wlib` variable"
Within the code the above variable is never defined but only assigned, before deleting it check if by chance it is added by some other external dependency (eg. g3w-admin) or if it is the result of a refactoring gone bad.

For more info:

- https://github.com/g3w-suite/g3w-client/search?q=_gis3wlib

[2022-07-05 14:14] Raruto opened #48 "The path to the `dist` folder is not really configurable while developing"
Although it seems possible to assign a different value to this variable within your `config.js`:

https://github.com/g3w-suite/g3w-client/blob/ad144538bef4747f0202735f9b8aebda9530d3a0/config.template.js#L10

---

this does not seem to be really possible as this value is hard coded in various places within the code, for example:

https://github.com/g3w-suite/g3w-client/blob/ad144538bef4747f0202735f

[2022-07-07 07:55] Raruto opened #49 "Add .gitkeep for `src/plugins` folder"
Remove the following rule inside the .gitignore file to easily let all developers know where the plugin folder:

https://github.com/g3w-suite/g3w-client/blob/5188d5f9a57a578eaaf468fabae1f7e2fed3af4d/.gitignore#L14

[2022-07-07 11:45] Raruto commented on #49
Closed by https://github.com/g3w-suite/g3w-client/commit/c2cf8d53fc2fd477de7b981a02855b75a97aa10b

[2022-07-07 11:45] #49 closed, assigned to nobody

[2022-07-08 12:08] #15 closed, assigned to nobody

[2022-07-08 14:40] Raruto opened #53 "Missing implementation of `g3w-ol` legend files"
The [`g3w-ol/src/legends`](https://github.com/g3w-suite/g3w-client/tree/9be20941e48c0a0f556a782e718d5a738093a8bd/src/app/g3w-ol/src/legends) folder contains only empty files:

- [src/app/g3w-ol/src/legends/main.js](https://github.com/g3w-suite/g3w-client/blob/9be20941e48c0a0f556a782e718d5a738093a8bd/src/app/g3w-ol/src/legends/main.js)
- [src/app/g3w-ol/src/legends/raster.legend.js](https://github.

[2022-07-08 14:45] volterra79 commented on #53
@Raruto i remove entire folder

[2022-07-08 14:45] #53 closed, assigned to nobody

[2022-07-08 14:49] Raruto commented on #53
Closed by: https://github.com/g3w-suite/g3w-client/commit/7c69062b648a1a36a00ab3ded632396ac5509bb6

[2022-07-11 06:56] Raruto commented on #46
Also include some info about `g3wsdk` global variable:

https://github.com/g3w-suite/g3w-client/blob/4e5417a7fff95a66d1cea9cb9f1ab3bc1ec91f38/src/app/main.js#L10-L11

and a link the following [src/app/core/plugin](https://github.com/g3w-suite/g3w-client/blob/4e5417a7fff95a66d1cea9cb9f1ab3bc1ec91f38/src/app/core/plugin/) folder

[2022-07-11 14:48] Raruto opened #54 "Add some documentation about empty `setupGui()` function"
Probably used in some but not all plugins (eg. [qplotly](https://github.com/g3w-suite/g3w-client-plugin-qplotly/blob/3ad2d92e264410f821c3ef93474ca938539615e2/index.js#L29-L62)), :

https://github.com/g3w-suite/g3w-client/blob/dee102a00c6cd5e0ea5bc004c179be149a623dd7/src/app/core/plugin/plugin.js#L145

[2022-07-11 14:56] volterra79 commented on #54
@Raruto removed because is not used from all plugins.
https://github.com/g3w-suite/g3w-client/commit/6d03294a72f0edb7356d7ce6b292512f85955047

[2022-07-11 14:57] #54 closed, assigned to nobody

[2022-07-12 12:25] Raruto opened #55 "Duplicated `GUI.getService()` function definition within gui.js"
Probably an oversight or wrong refactoring:

https://github.com/g3w-suite/g3w-client/blob/345f1784269acb7f8e05c2ac0003050186715348/src/app/gui/gui.js#L50-L53

https://github.com/g3w-suite/g3w-client/blob/345f1784269acb7f8e05c2ac0003050186715348/src/app/gui/gui.js#L69-L77

[2022-07-12 12:28] volterra79 commented on #55
@Raruto fixed https://github.com/g3w-suite/g3w-client/commit/b1305292ebc86513e5337ca8dfb16f0cecd87586

[2022-07-12 12:28] #55 closed, assigned to nobody

[2022-07-12 12:34] Raruto opened #56 "Add some documentation about empty `addComponent()` and `removeComponents()` functions"
Empty function definition:

https://github.com/g3w-suite/g3w-client/blob/b1305292ebc86513e5337ca8dfb16f0cecd87586/src/app/gui/gui.js#L38-L39

probably reassigned here:

https://github.com/g3w-suite/g3w-client/blob/b1305292ebc86513e5337ca8dfb16f0cecd87586/src/app/gui/app/index.js#L427-L428

If so, it would be necessary to document the reason for this choice

[2022-07-12 12:41] volterra79 commented on #56
@Raruto  fix https://github.com/g3w-suite/g3w-client/commit/e8996a7c6e9bacc00c4b5c2504d87b92e7d7b5f0

[2022-07-12 12:41] #56 closed, assigned to nobody

[2022-07-12 12:53] Raruto opened #57 "Avoid direct usage of `JSON.parse(JSON.stringify(foo))`"
It could be a bad practice to clone a js object in this way:

https://github.com/g3w-suite/g3w-client/blob/90e16348f9486158e0d65e403abcab25f60e9aa4/src/app/core/applicationservice.js#L631

https://github.com/g3w-suite/g3w-client/blob/6e5b47a672ed6bd62cbc6f92f515c3effc1639c5/src/app/core/layers/tablelayer.js#L447

Anyway, it would be better to introduce a utility function to declare the obscure sen

[2022-07-12 12:56] volterra79 commented on #57
@Raruto is a way of cloning object in deep. I agree to introduce a utility function

[2022-07-12 13:17] Raruto opened #58 "Refactor and rename `QueryResultsService.addRemoveFeaturesToLayerResult()` function"
Usually such ambiguous (add + remove = ? ) and long names denote that a function that is too large (and quite difficult to debug):

https://github.com/g3w-suite/g3w-client/blob/e8996a7c6e9bacc00c4b5c2504d87b92e7d7b5f0/src/app/gui/queryresults/queryresultsservice.js#L298-L345

Please whenever possible consider breaking the function down into simpler subroutines (and using shorter names).

[2022-07-12 13:24] Raruto opened #59 "Slim down `QueryResultsService.setActionsForLayers()` function"
The following function is nearly 250 lines long:

https://github.com/g3w-suite/g3w-client/blob/e8996a7c6e9bacc00c4b5c2504d87b92e7d7b5f0/src/app/gui/queryresults/queryresultsservice.js#L386-L634

If possible, consider simplifying it by using subroutines.

[2022-07-12 13:24] volterra79 commented on #58
@Raruto it could be better rename addRemoveFeaturesToLayerResult to updateLayerResultFeatures

[2022-07-12 13:25] volterra79 commented on #59
@Raruto agree

[2022-07-12 13:28] Raruto commented on #58
I have not read the implementation in detail, but if it is just adding and removing visible layers (therefore without any side effects), I would use the word `toggle` as a more appropriate term

[2022-07-12 13:34] volterra79 commented on #58
@Raruto is not related to layers but features of layers. It used to add/remove this feature from its layer result depend if this feature is already or not part of to current layer result

[2022-07-12 13:39] Raruto commented on #58
Ok, `updateLayerResultFeatures` seems fine.

(I read wrong before, I thought you wrote instead `updateFeaturesToLayerResult`)

[2022-07-12 13:50] Raruto opened #60 "Remove `InputValidator` class"
Interface class concept don't exist in pure js language (maybe in typescript) and there is no reason to complicate it further (since that class simply expose only a single method they could be simply replaced by using various utility functions)

https://github.com/g3w-suite/g3w-client/blob/e8996a7c6e9bacc00c4b5c2504d87b92e7d7b5f0/src/app/core/validators/inputs/validator.js#L1-L8

Check out [src/ap

[2022-07-12 14:46] Raruto opened #61 "Remove useful g3w-ol `styles` folder"
The following folder seems to contain only empty files: [src/app/g3w-ol/styles](https://github.com/g3w-suite/g3w-client/blob/e8996a7c6e9bacc00c4b5c2504d87b92e7d7b5f0/src/app/g3w-ol/styles/)

More info here:

- [src/app/g3w-ol/styles/main.js](https://github.com/g3w-suite/g3w-client/blob/e8996a7c6e9bacc00c4b5c2504d87b92e7d7b5f0/src/app/g3w-ol/styles/main.js)
- [src/app/g3w-ol/styles/style.vector.js]

[2022-07-12 14:55] volterra79 commented on #61
@Raruto fix https://github.com/g3w-suite/g3w-client/commit/40afe8f8f2884521a98721f61e44062fd458a350

[2022-07-12 14:55] #61 closed, assigned to nobody

[2022-07-13 09:27] Raruto opened #63 "Remove useful `gid` check within `initConfig` for current project while developing"
In order to develop locally it is currently necessary to always change the value of the `gid` attribute for each plugin and project created:

https://github.com/g3w-suite/g3w-client/blob/42e51c463e58cf4eb1740f920c00de6c4bf6bcc7/src/config/dev/index.template.js#L20-L26

Related to: https://github.com/g3w-suite/g3w-client/pull/62

[2022-07-13 14:03] Raruto commented on #46
Also include some info about `initConfig` global variable.

exposed by [g3w-admin](https://github.com/g3w-suite/g3w-admin) (production):

- [g3w-admin/g3w-admin/client/views.py#L161-L165](https://github.com/g3w-suite/g3w-admin/blob/07ba465011bb0ef95393b4d31255996fbec55e11/g3w-admin/client/views.py#L161-L165) (as inline window.initConfig)
- [g3w-admin/g3w-admin/client/api/views.py#L78-L92](https://

[2022-07-15 06:55] Raruto opened #65 "Overall replace default exports with named exports within javascript modules"
Named exports should be preferred because they allow us to have a cleaner source code, less error prone and overall more easily readable and manageable (e.g. while perfoming a global refactoring).

For more info:

- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/export

[2022-07-15 06:58] volterra79 commented on #65
@Raruto agree. Thanks

[2022-07-15 07:54] volterra79 opened #67 "Check if listen `ProjectsRegistry::setCurrentProject` setter is still necessary"
On version 3.4 is changed the way that change map (or change project) is handle. When changeProject is triggered, page is reloaded and no more `ProjectsRegistry.onafter('setCurrentProject', project =>{` is useful

[2022-07-15 08:03] lucamanga commented on #11
@volterra79 how is this implemented? Can we use your changeset in 3.4?

[2022-07-15 08:26] volterra79 commented on #11
@lucamanga my mistake. I close it but it isn't done yet. I add this feature on  v3.5

[2022-07-15 08:29] Raruto opened #68 "Realtime tracking of javascript bugs and errors"
At least for the public [demo](https://g3w-suite.readthedocs.io/en/latest/demo.html#access-the-online-service) application it might be worth introducing a tracking script that can promptly report javascript errors to the development team, for example: [sentry.io](https://sentry.io/).

_latter it could be added to customer applications but first it would be necessary to create a more compliant priv

[2022-07-15 09:01] wlorenzetti commented on #68
@Raruto this thing could be nice. G3W-ADMIN had previously used for Django and Python Sentry https://github.com/g3w-suite/g3w-admin/blob/07ba465011bb0ef95393b4d31255996fbec55e11/g3w-admin/base/settings/__init__.py#L39, now it could be time to reactivate it and update it to the latest version of sentry-sdk. We already have an account.

[2022-07-15 09:02] wlorenzetti commented on #68
At least for the demo version .. for customers we will see, perhaps for those who are hosted by us.

[2022-07-19 13:42] Raruto opened #71 "Consolidate `g3wsdk` and `initConfig` variables within a single global variable (eg. `g3w`)"
Both variables are used quite a lot for third party plugin test and development, it would be better to consolidate them in a single namespace (eg. `g3w`) instead of using two separate global variables.

**window.initConfig**

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/core/applicationservice.js#L370-L419

**window.g3wsdk**

https://github.com/g3w-

[2022-07-20 12:53] Raruto opened #75 "Broken language switcher flags while developing"
## Subject of the issue

![photo](https://user-images.githubusercontent.com/9614886/179982041-75372153-2b83-4a5d-acb5-b74beff14f56.png)

All language switcher related routes (flag images and browser permalink changes) are currently not being properly proxied while developing, for example after clicking on the "English" item the following redirection is caused:

- `localhost:3000?project=countries/

[2022-07-22 14:53] Raruto opened #82 "Migrate all jQuery `$.Deferred` promises to native ES6 `Promise`"
**Example 1 — Cleaning up a simple .then() and .fail()**

[code]
[code]

**Example 2 — Cleaning up .then() and .fail() callbacks**

[code]
[code]

**Example 3 — Migrating $.Deferred() notifications**

[code]
[code]

---

**Source:** https://medium.com/@szpytfire/migrating-from-jquery-to-es6-promises-65ee10553126

---

[2022-07-25 15:33] Raruto opened #84 "Rename `gui/queryresults` module into `gui/searchresults`"
Somehow related to: https://github.com/g3w-suite/g3w-client/pull/83

**For example:**

[gui/queryresults/vue/queryresults.html](https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/gui/queryresults/vue/queryresults.html) + [gui/queryresults/vue/queryresults.js](https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/gui

[2022-07-26 08:51] Raruto opened #85 "Unit test vue components"
**Related to:** https://github.com/g3w-suite/g3w-client/pull/83

**Reference:**
- https://v2.vuejs.org/v2/cookbook/unit-testing-vue-components.html

Vue’s single-file components make it straight forward to write unit tests for components in isolation. This lets you develop new features with confidence you are not breaking existing ones, and helps other developers understand what your component doe

[2022-07-26 09:17] Raruto opened #86 "Move `assets` folder into `src/assets`"
**Related to:** https://github.com/g3w-suite/g3w-client/pull/74, https://github.com/g3w-suite/g3w-client/pull/76, https://github.com/g3w-suite/g3w-client/pull/77, https://github.com/g3w-suite/g3w-client/pull/78, https://github.com/g3w-suite/g3w-client/pull/79, https://github.com/g3w-suite/g3w-client/pull/80, https://github.com/g3w-suite/g3w-client/pull/81, https://github.com/g3w-suite/g3w-client/p

[2022-07-26 09:32] Raruto opened #87 "Move `src/config/keys/index.template.js` into `config.template.js`"
Probably rather than a static import would it be better to use an event hook (eg. updating an attribute of vue's application state ?)

---

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/config/keys/index.template.js#L1-L9

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/config/index.js#L1

https://github.com/g3w-

[2022-07-26 09:58] Raruto opened #88 "Include version number notice in the readme file of `dev` branch"
For greater clarity I would recommend simply using the name of the latest version which is under active development (eg. `v3.5-dev`), otherwise, include a notice in the readme file as first line title (eg **g3w-client v3.5-dev**).

Once released, all previous LTR branches (eg `v3.4`, `v3.3`) should still be intended only for receiving patches and bugfixes.

Anyway, as I understand it, it is quite

[2022-07-26 10:05] Raruto opened #89 "Move `src/app/dev/index.js` into `config.template.js`"
Probably rather than a static import would it be better to use an event hook (eg. listening to a vue's hook ?)

---

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/core/applicationservice.js#L382-L383

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/gulpfile.js#L159-L160

[2022-07-26 11:48] Raruto opened #90 "Consolidate application `services` within a single folder"
Create a **`src/services`** folder and move all the following files into it:

---

**src/app/core/**

---

- `data/expression/service.js`
- `data/ows/service.js`
- `data/proxy/service.js`
- `data/query/service.js`
- `data/search/service.js`
- `data/routerservice.js`
- ~~`data/service.js`~~ (not a singleton !)
- `editing/changesmanager.js`
- ~~`expression/inputservice.js`~~ (not a singleton !)
- ~~

[2022-07-26 12:02] Raruto opened #91 "Consolidate application `registries` within a single folder"
Create a **`src/store`** folder and move all the following files into it (there are probably others that do not conform with the "registry" suffix, for example: "stack", "store", "relation", "flow", "history", "queue", ...):

---

**src/app/core/**

---

- `catalog/cataloglayersstoresregistry.js`
- `editing/sessionsregistry.js`
- ~~`layers/layersstore.js`~~ (this is not a singleton!)
- ~~`layers/l

[2022-07-26 12:25] Raruto opened #92 "Document and rationalize custom event emitters"
Also start thinking how could the be replaced or consolidated within a single place (especially for global ones), as per **v3.4** I found these:

---

**Event Emitter API:**

---

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/core/g3wobject.js#L16

---

**EventHub API:**

---

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d

[2022-07-26 12:52] Raruto opened #93 "Styles menu cropped if the menu goes off the bottom of the page"
## Subject of the issue

![photo](https://user-images.githubusercontent.com/9614886/181009498-98e97e3a-837a-4877-b699-7ae6995c88f4.png)

When you add a few styles, if the menu goes off the bottom of the page you don't have access to those - i.e. no scroll option. This is particularly problematic when viewing on a mobile device.

## Enviroment:

- g3w-admin: **v3.5.dev**
- g3w-client: **v3.4.dev**

[2022-07-26 13:03] Raruto commented on #93
The bug is due to the fact that the `this.layerMenu.stylesMenu.top` property is always setted whatever is the actual height of submenu (not checking, for example, which is relative to the current page size):

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/gui/catalog/vue/catalog.js#L472-L480

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4a

[2022-07-27 14:42] Raruto commented on #93
The following checks the actual height of the parent context menu and conditionaly adds a vertical scrollbar to the `styles` submenu container if taller:

[code]

[code]

[code]

[2022-07-27 15:11] Raruto opened #96 "Document and rationalize global singleton instances"
As per **v3.4**:

---

**app/core/**

---

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/core/catalog/cataloglayersstoresregistry.js#L10

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/core/editing/sessionsregistry.js#L30

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b26

[2022-07-28 07:08] Raruto opened #98 "List of all files and plugins that relys on `jQuery`"
In upcoming releases we will only targeting more modern browsers, so we might not need anything more than what the browser ships with.

Here are some tips to apply to migrate: [youmightnotneedjquery.com](https://youmightnotneedjquery.com/)

---

**TODO:** make a list of references to jquery below

---

[2022-07-28 07:27] Raruto opened #99 "Find a better location for the `src/app/gui/vue` folder"
That folder contains configuration files that can deeply modify the application and therefore essential to understand how it works in detail, also for this reason it would be better to place them in a less nested position.

As per [68da69f](https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/gui/vue/global-components/bar-loader.js) (v3.4) this is the situa

[2022-07-28 07:50] Raruto opened #100 "Consolidate GUI configuration files in a single location"
As per **v3.4** I found these:

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/gui/print/printconfig.js#L1-L113

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/gui/search/constants.js#L1-L6

https://github.com/g3w-suite/g3w-client/blob/68da69f23c7d4aa5d2d9f9446766d4eb38b268da/src/app/gui/constraints.js#L1

[2022-07-28 11:48] Raruto commented on #88
For the readers, the following is currently reported in the [g3w-admin/README.md#version](https://github.com/g3w-suite/g3w-admin/blob/dev/README.md#version) (even there it is not really clear which version branch `dev` refers to, ie. **v3.4**, **v3.5**, **v4.x** ?):

[2022-07-29 09:36] Raruto opened #102 "Add changelog or automatically generate release notes"
**Useful links:**

- [Automatically generated release notes](https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes)
- [conventionalcommits.org](https://www.conventionalcommits.org/)
- [keepachangelog.com](https://keepachangelog.com/)
- [semver.org](https://semver.org/)

Related to: https://github.com/g3w-suite/g3w-client/issues/88

[2022-08-01 07:12] volterra79 commented on #93
When the styles menu is showed on mobile, we need to add the following condition, otherwise the menu is cropped on right.

[code]

[2022-08-01 07:13] #93 closed, assigned to nobody

[2022-08-01 11:59] #47 closed, assigned to nobody

[2022-08-01 12:12] #46 closed, assigned to nobody

[2022-08-01 14:06] #100 closed, assigned to nobody

[2022-08-01 15:36] #60 closed, assigned to nobody

[2022-08-02 08:03] Raruto commented on #88
https://github.com/g3w-suite/g3w-client/commit/476344d34d9d541926a965b94fc7f5f93a31a088 introduced a simple visual warning as the first line within the readme file:

_in the near future we will better evaluate if this is a winning strategy_

[2022-08-02 08:03] #88 closed, assigned to nobody

[2022-08-02 08:15] volterra79 commented on #71
@Raruto need to remove all refences to sdk
Es: https://github.com/g3w-suite/g3w-client/blob/dev/src/locales/en.js#L26

[2022-08-02 08:45] Raruto opened #107 "Archive `g3w-suite/g3w-client-sdk` and `g3w-suite/g3w-client-template-lte` repositories"
As per v3.4, the following libraries are no longer needed:

- [g3w-suite/g3w-client-sdk](https://github.com/g3w-suite/g3w-client-sdk)
- [g3w-suite/g3w-client-template-lte](https://github.com/g3w-suite/g3w-client-template-lte)

consider [archiving](https://docs.github.com/en/repositories/archiving-a-github-repository/archiving-repositories) them for the sake of clarity.

Related to: https://github.

[2022-08-02 08:54] Raruto opened #109 "Check for version compatibility"
Think about a minimal way to verify that at the currently installed version of [g3w-client](https://github.com/g3w-suite/g3w-client/) is compatible with the current plugin structure (e.g. `3.4 < version < 4.0`), also remember to report it directly the same constraint within the project readme.

Related to:
- https://github.com/g3w-suite/g3w-client/pull/72
- https://github.com/g3w-suite/g3w-client-

[2022-08-02 08:58] Raruto opened #110 "Prevent core utils `isMultiGeometry()` collision"
As per **v3.5**, find out a way in order to prevent collision between the following functions:

[code]
_ie. remove `Geometry` sub-property within `core/utils/geo`_

Related to: https://github.com/g3w-suite/g3w-client/pull/78

[2022-08-02 09:44] Raruto opened #112 "Add some info about `git tag` usage (github releases usage)"
Related to: https://github.com/g3w-suite/g3w-client/issues/102

---

**Listing local tags:**
[code]

**Add a new tag:**
[code]

**Update an existing tag:**
[code]

**Delete an  existing tag:**
[code]

**Publish a local tag:**
[code]

**Publish all local tags:**
[code]

---

Fore more info:

- https://www.atlassian.com/git/tutorials/inspecting-a-repository/git-tag

[2022-08-02 10:24] volterra79 opened #114 "Think about how restyle map controls"
There are a lots of map controls to take care. Maybe in the future they increase in numbers.

![Screenshot from 2022-08-02 12-19-18](https://user-images.githubusercontent.com/1051694/182352000-779624eb-5c6c-4ace-ae24-154d1430329b.png)

Think about how improve interface for good user experience

[2022-08-02 11:56] Raruto commented on #110
@volterra79 I updated that pull description, is it correct? https://github.com/g3w-suite/g3w-client/pull/113#issue-1325613472

Forgive me, but can you explain me better how it is managed this collision with that edit?

https://github.com/g3w-suite/g3w-client/blob/ddc8e2b90afc91d62c320632316be5214ff852c8/src/app/core/utils/geo.js#L153-L176

https://github.com/g3w-suite/g3w-client/blob/ddc8e2b90afc9

[2022-08-02 12:30] Raruto commented on #71
Check out the [i18next](https://www.i18next.com/) project to think about how to remove the `sdk` prefix from old sdk / plugin translations:

https://github.com/g3w-suite/g3w-client/blob/ddc8e2b90afc91d62c320632316be5214ff852c8/src/app/core/i18n/i18n.service.js#L1-L87

Below you can find quite easily all the translations related to the `sdk` namespace:

https://github.com/g3w-suite/g3w-client/searc

[2022-08-02 12:32] #110 closed, assigned to nobody

[2022-08-02 12:33] volterra79 opened #117 "Touch select autocomplete on Firefox mobile is not working properly"
## Subject of the issue

![search](https://user-images.githubusercontent.com/9614886/183354492-a1d5149a-ed31-4a18-9129-15d1ba390c6d.png)

Touch select is not working properly on Firefox mobile

## Environment

* browser: Firefox mobile

## Additional info

Probably related to: https://github.com/select2/select2/issues/5457

[2022-08-02 13:18] Raruto opened #118 "List all untracked changes of v3.5"
Here is the list (automatically generated by github) of all pull requests related to [v3.5](https://github.com/g3w-suite/g3w-client/releases)

compare it and check with all the files changed since 3.4: https://github.com/g3w-suite/g3w-client/compare/v3.4.x...v3.5-pre

[2022-08-02 14:50] Raruto commented on #109
A possible solution to include current version number is to create a file automatically through gulp task:

[code]

[2022-08-03 11:22] Raruto commented on #109
https://github.com/g3w-suite/g3w-client-plugin-skeleton/pull/6 add an example of implementation for previous Plugin constructor (< v3.5)

https://github.com/g3w-suite/g3w-client/blob/b085109091b999e14d5f540991eeed263cb5aec1/src/app/core/plugin/plugin.js#L10-L36

[2022-08-03 11:22] #109 closed, assigned to nobody

[2022-08-04 12:48] Raruto opened #122 "Automatically add labels to github pull requests"
Related to: https://github.com/g3w-suite/g3w-client/pull/120, it may be worth adding labels automatically in order to generate releases notes in a simpler and faster way:

- https://github.com/marketplace/actions/labeler
- https://github.com/qgis/QGIS/commit/ef14f6a78baff923d73332f433673c7d66a8a620
- [Add useful labels to your Pull Requests with Github Actions](https://blog.dipien.com/add-useful-l

[2022-08-04 13:26] Raruto opened #123 "Automatically delete pull request branches after they have been merged"
Related to: https://github.com/g3w-suite/g3w-client/issues/122, https://github.com/g3w-suite/g3w-client/pull/120, repositories can also be set to delete the head branch of a pull request once it has merged into the base branch:

- [Managing the automatic deletion of branches](https://help.github.com/en/articles/managing-the-automatic-deletion-of-branches)

[2022-08-05 09:38] #123 closed, assigned to nobody

[2022-08-05 12:52] #87 closed, assigned to nobody

[2022-08-06 08:53] volterra79 opened #124 "Add info release version of g3w-admin and g3w-client of current installation"
It could be useful add an info button or a section to show to user the current g3w-client and g3w-admin release version

[2022-08-08 06:40] Raruto commented on #117
Through the desktop version of Firefox (mobile simulator) there seems to be no problems.

[2022-08-08 06:42] volterra79 commented on #117
@Raruto it seems that only on Firefox mobile is possible to replicate the issue.

[2022-08-08 07:10] Raruto commented on #117
The same with [browserstack.com](http://browserstack.com), tested successfully with a Samsung Galaxy S22 (Android v12)

[2022-08-08 07:14] volterra79 commented on #117
@Raruto i find issue on:
**Browser**: Firefox Browser 103.1.0
**Mobile**:Samsung  Galaxy A02s

[2022-08-08 08:34] #118 closed, assigned to nobody

[2022-08-08 14:52] volterra79 opened #128 "Add management of multi fields relation"
Actually it is possible to work with relations that have just **one** field in relation between two layers.
Start to handle multi fields relation will be necessary

[2022-08-09 06:50] #102 closed, assigned to nobody

[2022-08-09 08:03] #90 closed, assigned to nobody

[2022-08-09 08:28] #91 closed, assigned to nobody

[2022-08-09 16:19] volterra79 opened #129 "Bug when use Area or Length map control"
## Subject of the issue
Use Length or Area map control we receice a javascript error (empty `Geometry` object).

## Environment
- g3w-client: **v3.5**

## Steps to reproduce

![Screenshot from 2022-08-09 18-18-06](https://user-images.githubusercontent.com/1051694/183704777-b8d80247-2182-4bab-924b-1086519e1dbc.png)

[2022-08-10 07:36] Raruto commented on #129
I updated the client version reported above because on the 3.4 [demo](https://dev.g3wsuite.it/en/map/demo-34/) I didn't encounter this problem.

[2022-08-10 07:44] #129 closed, assigned to nobody

[2022-08-11 10:11] volterra79 opened #135 "Handle error/info message from api request server"
![Screenshot from 2022-08-11 11-28-54](https://user-images.githubusercontent.com/1051694/184111496-1c8b445f-29d3-4fa3-b81f-5a8415138b21.png)

Based on above screenshot it could be great handle error/info message to g3w-client

[2022-08-12 14:38] #107 closed, assigned to nobody

[2022-08-18 06:41] volterra79 opened #144 "Add Form Input Html Editor"
Following QGIS form text widget:

![Screenshot from 2022-08-18 08-31-25](https://user-images.githubusercontent.com/1051694/185311780-f32ffa05-56a4-4e13-8d7f-610350cc230a.png)

need to develop a form widget editor html as below example:

![Screenshot from 2022-08-18 08-40-13](https://user-images.githubusercontent.com/1051694/185313737-527700ad-0d22-4330-9f2b-6ec651a04fdf.png)

[2022-08-18 07:40] volterra79 opened #145 "Hide Bing base layers"
**Is your feature request related to a problem? Please describe.**

The problem is related to missing Bing vendor key on server initConfig configuration. If Bing base layers are added on projects group but Bing vendor key is missing, Bing layer are visible on base layer list but when clicked empty image is visible as base layer because no key is provide.

**Describe the solution you'd like**

In c

[2022-08-18 14:47] tudorbarascu opened #147 "Download on a filtered layer should only download the filtered features"
Hello,

I tried downloading only the filtered features from a layer (Shp, xls etc.) but all of them got downloaded.

[2022-08-18 14:50] volterra79 commented on #147
@tudorbarascu. we will fix to next release. Thanks

[2022-08-26 08:21] #86 closed, assigned to nobody

[2022-08-26 08:41] volterra79 opened #156 "Drop invalid Z values from WMS GetFeatureInfo response"
Notice that using `ol.format.WMSGetFeatureInfo` to parse xml get from wms getfeatureinfo service add a Z vales of coordinate to 0.
So features that are created from this parser have a z values.

[2022-08-26 09:24] #156 closed, assigned to nobody

[2022-08-26 09:52] #147 closed, assigned to nobody

[2022-08-30 08:50] volterra79 opened #160 "Add map layer vector tile"
Add to map layer with source type **vectortile** to TOC and Map

![screenshot_20220830_101841](https://user-images.githubusercontent.com/1051694/187392798-a5c61bf0-d9be-4f2a-8665-bf6915901e4f.png)

[2022-08-30 09:06] #160 closed, assigned to nobody

[2022-08-30 12:27] volterra79 opened #162 "Geocoding map control results and current result marker disappear on map click"
## Subject of the issue
Results and marker of current selected result disappear on map click

## Steps to reproduce
1. Search an address using Geocoding map control

![Screenshot from 2022-08-30 14-30-58](https://user-images.githubusercontent.com/1051694/187437370-dad00a5b-b345-4cd2-af42-e6b6c69e5233.png)

2. Click on map

![Screenshot from 2022-08-30 14-33-43](https://user-images.githubuserconten

[2022-08-30 13:38] #162 closed, assigned to nobody

[2022-09-01 08:49] volterra79 opened #164 "Streetview Map control: Show StreetView on new browser tab if no google key is provide"
Steps:

1. StreeView map control

![Screenshot from 2022-09-01 10-39-45](https://user-images.githubusercontent.com/1051694/187871310-af7bc41c-ffe3-4dbe-acfe-fe7f5ae3911e.png)

2. Click on map. A new right browser tab is open with Streetview positioned on map coordinates click

![Screenshot from 2022-09-01 10-42-14](https://user-images.githubusercontent.com/1051694/187871813-10d7a724-d196-4782-a21b

[2022-09-02 06:36] tudorbarascu opened #166 "Chain filter relations Widgets are not currently usable when doing editing"
I've added a project with date prepared for g3w (with projects, project_data folder) that outlines the issue.

Having a **pipe** layer and a dictionary layer **pipe_material** that holds all the possible combinations between Material, Diameter and Nominal Pressure, the user is guided towards the selection of an ID that corresponds  to a single valid combination between all these three characterist

[2022-09-02 07:02] tudorbarascu commented on #166
This would also count as a bug but I put it as a feature. Here's also a gif how it works QGIS side:

![widget](https://user-images.githubusercontent.com/3179646/188078005-d2c0b147-7680-4ea6-a408-b4c3863a7a19.gif)

Thank you

[2022-09-02 07:06] volterra79 commented on #166
@tudorbarascu thanks. We need to enable g3w-admin to send widget configuration to client.

[2022-09-06 14:20] volterra79 opened #167 "Hide editing (pencil) button on result content when editing panel is open"
In case of editing pane is open we need to avoid below case:

![Screenshot from 2022-09-06 16-13-03](https://user-images.githubusercontent.com/1051694/188658569-b952f245-d5f1-4d17-b51b-af288f0e6ec4.png)
Figure 1

need to check if editing panel is open and in this case hide pencil icon.

![Screenshot from 2022-09-06 16-17-46](https://user-images.githubusercontent.com/1051694/188659191-c6322fbe-d417

[2022-09-06 15:00] #96 closed, assigned to nobody

[2022-09-06 15:23] #167 closed, assigned to nobody

[2022-09-07 06:16] Raruto commented on #67
@volterra79 is there any specific line you are referring to?

[2022-09-07 06:19] volterra79 commented on #67
@Raruto we need to find all of these type of line code and remove it. No more useful.

[2022-09-07 10:53] volterra79 opened #169 "Improve the way of how application show error to the user"
Example:

Below is show an error response from server  when try to save some editing data:

[code]

![Screenshot from 2022-09-07 12-47-42](https://user-images.githubusercontent.com/1051694/188860317-e9ce2c3b-3967-48c8-80fe-b0f392f74c46.png)
Figure 1

![Screenshot from 2022-09-07 12-45-19](https://user-images.githubusercontent.com/1051694/188860024-6bd3fdf8-791c-4689-a1e3-7d60358540af.png)
Figure 2

[2022-09-07 12:30] volterra79 commented on #135
Duplicate with https://github.com/g3w-suite/g3w-client/issues/169

[2022-09-07 12:30] #135 closed, assigned to nobody

[2022-09-09 08:23] volterra79 opened #172 "Error on result if features has no geometry in response"
## Subject of the issue
Get an error if features response has no geometry and result content is not open

![Screenshot from 2022-09-09 10-20-59](https://user-images.githubusercontent.com/1051694/189305794-b740e577-d382-402e-9b35-cd63f8dc68db.png)

## Steps to reproduce
1. Be sure that your project has uncheck add geometry to feature response

![Screenshot from 2022-09-09 10-38-27](https://user-ima

[2022-09-09 09:24] #172 closed, assigned to nobody

[2022-09-09 13:35] Raruto opened #177 "Delete `src/app/gui/vue/utils.js`"
As per **v3.6**, this is the only function inside that file:

https://github.com/g3w-suite/g3w-client/blob/6b490215635ebec99d1396ba7826154bb19fb7eb/src/app/gui/vue/utils.js#L1-L7

Check that it is no longer in use by other parties (eg. plugins) and then delete it permanently.

Related to: https://github.com/g3w-suite/g3w-client/issues/99

[2022-09-12 13:12] bard0x opened #181 "Project Setup Error - `exec /scripts/docker-entrypoint-dev.sh`: no such file or directory"
Hi guys,

I tried to start the project using the readme on github (Project setup & How to develop)

When I run **npm run docker:up** this error occurred: **_exec /scripts/docker-entrypoint-dev.sh: no such file or directory_**

I don't understand why this happen.

Do you have any suggestion?

Thank you in advance

[2022-09-12 13:32] Raruto commented on #181
Hi bard0x,

i guess your current `g3w-client` version is **v3.7.0-alpha.0**.

By chance, have you already cloned and placed these repositories: [g3w-suite-docker](https://github.com/g3w-suite/g3w-suite-docker), [g3w-admin](https://github.com/g3w-suite/g3w-admin) and [g3w-client](https://github.com/g3w-suite/g3w-client) into three separated adjacent folders? (from what i see it seems you are missin

[2022-09-13 07:09] bard0x commented on #181
Hi,

sure! The structure of my project is exactly the same illustrated by you above...

Yes, the version is 3.7.0-alpha.0 but I get the same issue if I use the v3.6.3 for example.

[2022-09-13 08:43] Raruto commented on #181
@bard0x does it give you the same error if you move inside the [g3w-suite-docker](https://github.com/g3w-suite/g3w-suite-docker) folder and following the [README_DEV.md](https://github.com/g3w-suite/g3w-suite-docker/blob/dev/README_DEV.md) instructions ?

[code]

[2022-09-13 08:47] bard0x commented on #181
Unfortunately Yes :(

[2022-09-13 08:47] bard0x commented on #181
Unfortunately Yes :(

[2022-09-13 09:05] Raruto commented on #181
@bard0x it could be a file permissions issue, check the exec permissions for of the [docker-entrypoint-dev.sh](https://github.com/g3w-suite/g3w-suite-docker/blob/dev/scripts/docker-entrypoint-dev.sh) file.

If you are on linux it should be such a thing:

[code]

[code]

[2022-09-13 09:10] bard0x commented on #181
I'm using a Windows env and unfortunately I checked yesterday if the folder / files inside the scripts had some permissions issue

[2022-09-13 09:28] Raruto commented on #181
On a windows enviroment you should check that:

- line endings of your files are set to **LF** (and not **CRLF**)
- **wsl2** integration is enabled in docker settings

Eventually, you can also check applying this change to the [docker-compose-dev.yml](https://github.com/g3w-suite/g3w-suite-docker/blob/e435dcc3eebdace8eec161d34f1426ce20f143bb/docker-compose-dev.yml#L73
) file

[code]

[2022-09-13 11:45] Raruto opened #182 "Overall rename ambiguous property `lng`"
As per **v3.6**, the `lng` shorthand can be easily confused with `longitude` (instead of `language`), for example:

### ApplicationState::lng

https://github.com/g3w-suite/g3w-client/blob/5789adafd2664a4c5603af257c37ef1b48fa5892/src/store/application-state.js#L14

https://github.com/g3w-suite/g3w-client/blob/8ff4f9f5ac84444d93a750b168987959c82957ed/src/app/gui/inputs/input.js#L19

https://github.c

[2022-09-13 13:24] bard0x commented on #181
Issue resolved!

But now I have another issue: When I trying to load the Front end at http://localhost:3000/?project=countries/qdjango/1
the system show me this message:

![image](https://user-images.githubusercontent.com/24570908/189912329-2c596d11-cc92-4e5d-b71b-7d6ffb049968.png)

And if I trying to log the Admin server the system show me this error:

![image](https://user-images.githubuserconte

[2022-09-13 14:23] Raruto commented on #181
@bard0x in order to help others understand what your problem was, which of those tricks did you apply?

---

yes, it's better

[2022-09-13 14:27] bard0x commented on #181
Sure.

I setted to LF this `docker-entrypoint-dev.sh` & `docker-compose-dev.yml`.

[2022-09-13 14:27] #181 closed, assigned to Raruto

[2022-09-13 14:32] bard0x opened #183 "[ERROR] - ReferenceError: initConfig is not defined"
Hi,

When I trying to load the Front end at http://localhost:3000/?project=countries/qdjango/1
the system show me this message:

![image](https://user-images.githubusercontent.com/24570908/189912329-2c596d11-cc92-4e5d-b71b-7d6ffb049968.png)

And if I trying to log to the Admin server the system show me this error:

![image](https://user-images.githubusercontent.com/24570908/189912625-e7e18fa5-641e

[2022-09-14 06:30] Raruto commented on #183
@bard0x I guess this is your first installation, if so the repos you have cloned don't include any pre-built (qgis) demo project.

If you look inside the [documentation](https://g3w-suite.readthedocs.io/en/latest/demo.html) it is explained in detail how to import a new one, then remember that currently for developing g3w-client (**<v3.7**) the following rules are applied:

[code]

[code]

**NB** I

[2022-09-14 07:00] Raruto opened #184 "Consider deprecating `toRawType(value)`"
Probably a legacy of the past, anyway, I can't find any real use for it (other than making the code more difficult to read), for most situations `typeof` or `instanceof` should suffice..

https://github.com/g3w-suite/g3w-client/blob/6b490215635ebec99d1396ba7826154bb19fb7eb/src/app/core/utils/utils.js#L239-L242

**More info**

- [What's different between `Object.prototype.toString.call` and `typeof

[2022-09-14 07:31] bard0x commented on #183
Okay, first of all, considering that I used the **3.7.0-alpha.0** version I switched right now to **v3.6.3**. But now when I trying to start the project (g3w-client) with `npm run dev`, I get this error:

![image](https://user-images.githubusercontent.com/24570908/190089779-d78fbf40-817b-46e3-a0af-a39b7f7c337d.png)

[2022-09-14 08:23] Raruto commented on #183
@bard0x that error should have been fixed in here https://github.com/g3w-suite/g3w-client/pull/149 (it will be released within g3w-client **>= v3.7**).

For the moment, you should call the `install` script at least twice to fix it:

[code]

After that you can work as usual:

[code]

[2022-09-14 09:17] bard0x commented on #183
Unfortunately if I try call the install script twice it don't work.

[2022-09-14 09:25] bard0x commented on #183
Okay, I resolved called twice npm install but now the console show me another issue.... :(

![image](https://user-images.githubusercontent.com/24570908/190116237-78fb1810-8793-4567-aaad-160eeb44e07c.png)

[2022-09-14 09:41] Raruto commented on #183
@bard0x https://github.com/g3w-suite/g3w-client/pull/149 has updated some dependencies within `node_modules` folder, try deleting the `package-lock.json` file before calling `npm install` twice:

[code]

[2022-09-14 12:19] volterra79 opened #186 "Error when trying to display measure info of MultiPolygon layer (editing plugin)"
## Steps to reproduce

1. Enable editing on MultiPolygon layer
2. Active Update Feature vertex (green circle Figure 1)
3. Click on layer editing feature (blue circle Figure 1)
4. Check show measure (red cirle Figure 1)
5. Receive an javascript error when (see Figure 1)

## Figure 1

![Screenshot from 2022-09-14 14-14-59](https://user-images.githubusercontent.com/1051694/190151125-f44b8a28-19af-497

[2022-09-14 15:00] bard0x commented on #183
It's very strange: only for one time, after the exec of `npm install` twice, the system have worked. Now it don't work anymore. I have the same error also if I try to remove `node_modules` folder & `package-lock.json`

![image](https://user-images.githubusercontent.com/24570908/190190376-010b22c3-b87f-425c-8905-d9867f1fad06.png)

[2022-09-15 07:34] Raruto commented on #183
@bard0x have you already tried to run a clean `npm install` after a pc reboot? probably there was a filesystem-level lock (e.g. after a program crash) which prevented that gulp task from accessing to certain files.

**BTW**, if it didn't bother you, just use the **v3.7.0-alpha.0** (one of the main goals of [v3.7](https://github.com/g3w-suite/g3w-client/milestone/7), as per https://github.com/g3w-s

[2022-09-15 08:22] #186 closed, assigned to nobody

[2022-09-15 10:31] volterra79 commented on #192
@moovida https://github.com/g3w-suite/g3w-admin/tree/dev

solved by https://github.com/g3w-suite/g3w-admin/commit/19bdc08d97fbe21e14984ae8b3eb472567211a30

[2022-09-15 14:27] Raruto opened #193 "Refactor and delete `src/app/gui` folder"
The GUI term is ambiguous and too generic (javascript itself is a frontend language), in the next versions find and relocate the last files left here [src/app/gui](https://github.com/g3w-suite/g3w-client/blob/add72d72165fb87d11a8f9f186750635fd59d350/src/app/gui) and then definitively deprecate that folder.

[code]

[2022-09-15 14:33] #192 closed, assigned to volterra79

[2022-09-16 13:13] volterra79 opened #195 "Unable to select a Layer Style containg a special character in name (catalog layers)"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

When try to select  a style with name contain special character (es. **+** in Figure 1):

![Screenshot from 2022-09-16 14-32-17](https://user-images.githubusercontent.com/1051694/190639524-4235c1e9-f526-419d-b2fe-ae6

[2022-09-16 14:30] #195 closed, assigned to volterra79

[2022-09-19 15:10] bard0x commented on #183
Hi,

I tried different solutions (like to install also the dev env in linux for example) in order to resolve the issue but I get the same issue on the 3.6.3. ... Is there a date for the next release? Or I don't know if it's possibile to define a linux image that works with the last release... I need to develop on a stable version.

Thanks for all

[2022-09-19 15:46] volterra79 opened #199 "`changeinput` event not fired when a new feature field is set with a default value"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

No trigger change event is trigger when new editing feature is created and one ore more field value is set with a default field config value.

### Steps to reproduce

1.  Create a new editing feature (editing config

[2022-09-20 08:51] Raruto commented on #183
Hi @bard0x,

- what are your node and npm versions? (`node -v` --> `v16.15.0` / `npm -v` --> `8.5.5`)
- do you have any global package that can interfere with this project? (eg. `npm list -g --depth 0` --> `gulp@3.9.1`)
- can you attach here your generated `package-lock.json` file?

Hopefully, in October 2022.

If you are familiar with docker, you can create a dedicated container that installs **n

[2022-09-20 09:31] Raruto commented on #199
@volterra79 I'm not clear if this is a bug (software regression) or if you just want to change a current behavior (ie. always triggering an event even on "deafult" values).

[2022-09-20 09:34] volterra79 commented on #199
@Raruto it's a bug because if we set a field with a default value has not the same behavior with value get from server

[2022-09-20 09:46] Raruto commented on #199
Ok, but it is still not clear to me if this is a regression (ie. in previous g3w-client versions it worked as you expected and now not anymore?)

Moreover, if in the report you don't indicate current version of the software in which you have found this bug it's really difficult to let others know what you are talking about...

[2022-09-20 09:48] volterra79 commented on #199
@Raruto it's a bug that i found and it is present in all old versions

[2022-09-20 10:16] #199 closed, assigned to volterra79

[2022-09-20 10:28] Raruto commented on #36
@tudorbarascu for the Mac Os tests, are you able to reproduce in here https://www.browserstack.com/? (it's free if you own an open source project)

[2022-09-21 07:13] bard0x commented on #183
Hi,

I attached the `package-lock.json` --> [package-lock.zip](https://github.com/g3w-suite/g3w-client/files/9613947/package-lock.zip)

I have:

[code]

Can I try to downgrade my versions of node & npm?

### [UPDATE]

Finally I'm able to run the project (curr v3.7-alpha-1)

But if I run the FE i get this error message:

![image](https://user-images.githubusercontent.com/24570908/191507712-799ff91b

[2022-09-21 15:17] Raruto commented on #183
Hi @bard0x

Actually this project uses an older version of gulp (v3.9.1), just to know, that dependency (**gulp@4.0.2**) is installed globally on your computer?

If you can, please let us know what you changed to get it to work... ☺️

What is the complete URL of the page where you get this error?

Projects must be uploaded directly via the g3w-admin server, if you started successfully the docker c

[2022-09-22 06:52] bard0x commented on #183
Hi,

To run the project I downgraded the v. of npm, node & gulp :)

I get this error by http://localhost:3000/

By the way, when I start the containers I get this errors

![image](https://user-images.githubusercontent.com/24570908/191677833-cddb4031-0db6-41ab-8c51-5cd2ae1fc1b3.png)

and if I try to navigate to http://localhost:8000/en/login/?next=/en/

I get this errors:

![image](https://user-ima

[2022-09-22 07:34] volterra79 opened #200 "Improve readability of input labels on editing form"
### Checklist

- [X] I've searched through the [current issues](https://github.com/g3w-suite/g3w-client/issues) to make sure this feature hasn't been requested already.

### Motivation

To improve input label readability when of editing form has a small size in width, it could be better move label input from left side of it to top
Below images show the difference in readability:

**Before:**

![Sc

[2022-09-22 08:14] Raruto commented on #183
Hi @bard0x,

from what I know currently there is a bug on the [g3w-suite-docker/docker-compose-dev.yml](https://github.com/g3w-suite/g3w-suite-docker/blob/c150c74a477b51ff5235e99f20001481e0bc6256/docker-compose-dev.yml) (v3.4) which prevents the automatic creation of the admin user (I'm sorry I didn't tell you this earlier, but we've been working with docker-compose-dev.yml for a very short time).

[2022-09-22 08:23] Raruto opened #202 "Check `engines` property constraint (package.json)"
As per **v3.7.0-alpha.1** we have the following constraint:

https://github.com/g3w-suite/g3w-client/blob/d4516e9ac3da2ea1776e782dabb3eab2e5dbe83f/package.json#L125-L128

Check if it's too wide, should we set an upper limit as well?

For example, check if the following configuration might work too:

[code]

Related to: https://github.com/g3w-suite/g3w-client/issues/183

[2022-09-22 08:55] volterra79 opened #203 "Disable textarea resize (editing mode)"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

To improve readability of input on editing form is better to fix input textarea non resizable otherwise we has some problem of readability in editing form

![Screenshot from 2022-09-22 10-46-41](https://user-images.g

[2022-09-22 09:11] Raruto commented on #200
@volterra79 I would slightly increase the vertical spacing between labels and input fields (on touch devices it can cause troubles).

[2022-09-22 09:17] bard0x commented on #183
Hi,

thanks for your patience :D

Now, if I try to run:

[code]

I get this error:

![image](https://user-images.githubusercontent.com/24570908/191708712-8e768c6c-45b7-4b63-90e0-e313df646b20.png)

#### [UPDATE]

Resolved by this command:

[code]

[2022-09-22 09:17] volterra79 commented on #202
@Raruto i test

[code]

and it works

[2022-09-22 09:22] volterra79 commented on #200
@Raruto add space between label and input
![Screenshot from 2022-09-22 11-20-48](https://user-images.githubusercontent.com/1051694/191709767-f1825306-7544-4240-b30b-f8388e26976c.png)

[2022-09-22 09:32] volterra79 commented on #200
Related to https://github.com/g3w-suite/g3w-admin/issues/381

[2022-09-22 09:44] bard0x commented on #183
Finally I logged in g3w

![image](https://user-images.githubusercontent.com/24570908/191714386-e8037383-a1a6-4ddf-b75f-b63a896626bb.png)

But I get this errors into the browser console and I don't be able to see items in the cartographs group...

![image](https://user-images.githubusercontent.com/24570908/191714691-7d071ae3-c77d-45bd-a1c3-746bb8883868.png)

[2022-09-22 10:02] Raruto commented on #183
Hi @bard0x,

probably the first time you didn't wait until the installation completed (maybe that's also why you had the previous problem on the database).

Have you already tried to do like so?

**NB** the parent folder is **g3w-suite-docker/shared-volume** (before I pointed to you the wrong folder)

[2022-09-22 10:29] bard0x commented on #183
Into the shared-volume I have this folders:

![image](https://user-images.githubusercontent.com/24570908/191724027-3b427350-48aa-4a11-b1a2-29fdc80f194f.png)

I don't see `build_done` & `setup_done`

[2022-09-22 12:33] Raruto commented on #183
Hi @bard0x,

try to attach here the log files of your containers, you can find them at the following location:

[code]

[code]

From what I see it looks like the [g3w-suite](https://github.com/g3w-suite/g3w-suite-docker/blob/c150c74a477b51ff5235e99f20001481e0bc6256/docker-compose-dev.yml#L31-L75) container hasn't run either of these scripts:

- [/code/ci_scripts/build_suite.sh](https://github.com/

[2022-09-22 13:25] volterra79 opened #206 "Add datetime search input field (search widgets)"
### Checklist

- [X] I've searched through the [current issues](https://github.com/g3w-suite/g3w-client/issues) to make sure this feature hasn't been requested already.

### Motivation

In case of field datetime type of a layer, it could be useful to has a datetime widget for search panel instead a simple text input widget.

### Suggested solution

Create a search widget input component using http

[2022-09-22 15:08] #203 closed, assigned to volterra79

[2022-09-22 15:11] bard0x commented on #183
Hi Raruto,

I attach here the previous log of this day .

[container g3w-suite-docker-g3w-suite-1.txt](https://github.com/g3w-suite/g3w-client/files/9627109/container.g3w-suite-docker-g3w-suite-1.txt)

Now, when I start the containers, the g3w suite container is blocked in this status

Build started for G3W-Suite installation ...
Building javascript code ...
yarn install v1.22.19
[1/4] Resolving p

[2022-09-22 15:15] #200 closed, assigned to volterra79

[2022-09-22 15:20] Raruto commented on #202
Out of curiosity, have you also tested a **3.6.x** release?

[2022-09-22 15:21] volterra79 commented on #202
@Raruto sure. I let you know

[2022-09-22 15:29] volterra79 commented on #202
@Raruto i tried with release 3.6.3
[code]

Work with:

[code]
and

[code]

But not with:

[code]

[2022-09-23 08:32] bard0x commented on #183
Finally I resolved!

Thanks to your suggestion

Hi,

finally I resolved!

I had to switch in LF every .sh file present in the project.

Thank you so much for all!

[2022-09-23 08:32] #183 closed, assigned to Raruto

[2022-09-23 09:10] bard0x opened #208 "Compiled changes don't appear in browser while developing"
### Checklist

- [x] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

Hi,

when I run `npm run dev`, if I try to edit a label my files compile successfully but changes are not showed in the browser.

I need any kind of configuration to setup the vuejs env for develop?

Thanks in advanc

[2022-09-23 12:57] Raruto commented on #36
Hi @tudorbarascu,

we were able to replicate a situation similar to the following with an **iPad 9th iOS, v15.5** (e.g. incorrect placement in the lower right screen area of the print preview rectangle), however, please keep note that at the moment (**g3w-client@3.7-alpha.1**) mobile printing should always disabled.

For those who intend to investigate further, these lines are responsible for posi

[2022-09-23 13:02] tudorbarascu commented on #36
@Raruto Hi! Was currently investigating exactly when it happens. I realized that the only thing in common with my MacBook Pro 16.2 and Surface Laptop 4 is that they have a width/height ratio of 3:2 (which is quite rare but that's what I usually search).
I'll try on some other 3:2 laptops this weekend and get back. Thank you for looking into this.

[2022-09-23 14:16] Raruto commented on #36
I'll try on some other 3:2 laptops this weekend and get back. Thank you for looking into this.

@tudorbarascu are you able tell us what's the actual value in your browser console for the following variable? `ol.has.DEVICE_PIXEL_RATIO`

[2022-09-23 14:29] Raruto commented on #208
Hi @bard0x,

what is the complete URL that is causing you problems?

Remember that currently (**v3.7.0-alpha.1**) these rules still apply in development:

[code]

[2022-09-23 15:22] tudorbarascu commented on #36
On Macbook 16.2 M1 Pro is ``2``
On Surface Laptop 4 13.5 Inch: ``1.25``
On MacBook Air m1 ``2``

[2022-09-26 06:52] bard0x commented on #208
Hello Raruto,

this is the url: http://localhost:3000/it/map/test/qdjango/1/

I loaded a qgis project and after I tryed to edit a label on the menu (From "Print" to "Print!")... The console show me this message:

![image](https://user-images.githubusercontent.com/24570908/192211618-cb8039be-8d01-4161-883a-4514153ff482.png)

But nothing happened, I don't see in the browser any changes...

[2022-09-26 06:53] volterra79 commented on #36
@tudorbarascu  can you try with https://github.com/g3w-suite/g3w-client/pull/209

[2022-09-26 07:08] Raruto commented on #208
Hi @bard0x,

This will be the behavior you should expect after this pull https://github.com/g3w-suite/g3w-client/pull/150 is merged.

Currently, your correct development URL should be the following:

[code]

_Have a nice day,
Raruto_

[2022-09-26 08:32] #202 closed, assigned to nobody

[2022-09-26 09:13] bard0x commented on #208
As usually, Thank u!

[2022-09-27 09:55] volterra79 opened #211 "Unable to add a custom WMS layer after changing its projection (sidebar panel)"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

When we set a projection on current selected WMS layer, the Add WMS Layer panel rest disabled

### Steps to reproduce

1. Add wms url on wms sidebar item

![Screenshot from 2022-09-27 11-46-38](https://user-images.gi

[2022-09-27 12:05] Raruto commented on #211
@volterra79 Please add the version of **g3w-client** in which you encountered this bug (if you think the bug is from an older version, you can write it down). Just remember that this is much more useful for any future references...

[2022-09-28 07:13] wlorenzetti opened #214 "Add support for `mdal` layer type."
### Checklist

- [X] I've searched through the [current issues](https://github.com/g3w-suite/g3w-client/issues) to make sure this feature hasn't been requested already.

### Motivation

G3W-CLIENT currently does not manage files with `mdal` type providers and when the client starts they are not regularly shown inside the toc:

QGIS desktop:

![Screenshot_20220928_090613](https://user-images.github

[2022-09-28 07:22] volterra79 commented on #214
@wlorenzetti has geometrytype on configuration layer as follow:
[code]

[2022-09-28 07:27] wlorenzetti commented on #214
As reported inside official documentation https://www.mdal.xyz/

[code]
so `geometrytype` can be `null` for 'MDAL raster' or a geometry vector type for 'MDAL vector'...

[2022-09-28 07:29] volterra79 commented on #214
@wlorenzetti thanks

[2022-09-28 07:29] wlorenzetti commented on #214
Usually is use for raster data: https://www.mdal.xyz/drivers/index.html

[2022-09-28 07:49] volterra79 commented on #214
@wlorenzetti can you provide a link to a mdal layer to test on a qgis project? Thanks

[2022-09-28 08:00] wlorenzetti commented on #214
[runof.sfc.mon.mean.zip](https://github.com/g3w-suite/g3w-client/files/9662746/runof.sfc.mon.mean.zip)

[2022-09-28 08:03] volterra79 commented on #214
@wlorenzetti thanks

[2022-09-28 08:54] wlorenzetti commented on #214
Branch with g3w-admin mdal support: https://github.com/g3w-suite/g3w-admin/tree/netcdf_mdal

[2022-09-28 09:22] volterra79 opened #217 "Unable to perform searches on Table Layers (alphanumeric layers)"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

Get a javascript error when try to run a search on table layer

[code]

### Steps to reproduce

1. Add a search widget on table layer in g3w-admin as follow:
![Screenshot from 2022-09-28 11-14-43](https://user-images

[2022-09-28 09:51] volterra79 commented on #211
@Raruto add  a g3w-version in **Additional info**
Bug found from version 3.4.0

[2022-09-28 10:17] #211 closed, assigned to volterra79

[2022-09-29 08:30] #217 closed, assigned to volterra79

[2022-09-30 09:04] leolami opened #225 "Link in html text field"
I inserted varius html element in a text field of a feature

https://dev.g3wsuite.it/it/map/g3w-suite-demo/qdjango/201/?zoom_to_fid=buildings_2f43dc1d_6725_42d2_a09b_dd446220104a%7C4

The link created during editing does not save the associated URL

[2022-09-30 09:19] leolami opened #223 "The contents of the query form have worse formatting (fields too close together)"
The contents of the query form have worse formatting (fields too close together) than in **v3.4**

![immagine](https://user-images.githubusercontent.com/4012899/193238007-b8e49195-2b8a-43ae-aa37-ffb2a9d7dc5b.png)

[2022-09-30 09:28] volterra79 commented on #225
@leolami please write an example or attach an screenshot

[2022-09-30 09:47] volterra79 commented on #223
@leolami please check screenshot of https://github.com/g3w-suite/g3w-client/pull/224

[2022-09-30 12:53] #223 closed, assigned to nobody

[2022-10-03 15:19] volterra79 opened #228 "Unable to open context menu on WMS Layer set as external (catalog layers)"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

Get an javascript error when try to open layer menu in `TOC > Layers` when **WMS Type** is set as external

### Steps to reproduce

1. Set wms as external on g3w-admin interface

![Screenshot from 2022-10-03 17-11-45

[2022-10-03 15:25] #228 closed, assigned to volterra79

[2022-10-03 16:26] volterra79 opened #230 "Missing response table headings and values on WMS Layer set as external (preview attributes)"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

Missing headers (preview attributes) from external wms

### Steps to reproduce

1. Query a wms layer

![Screenshot from 2022-10-03 18-24-11](https://user-images.githubusercontent.com/1051694/193629282-401a7d47-40e4-4

[2022-10-03 16:29] #230 closed, assigned to volterra79

[2022-10-04 15:23] volterra79 opened #232 "Query toolbox overlaps search result content (full width mode)"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

Overlap tools of query bbox and query by polygon over results content

### Steps to reproduce

1. Click on Query BBox map control

    ![193859387-00ef19d4-ba3f-4781-ab05-b4575023cff4.png](https://user-images.githubu

[2022-10-12 07:49] bard0x opened #235 "How to include `lat` and `lon` in URL parameters while developing?"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

Hi,

as this link [https://github.com/g3w-suite/g3w-client/issues/12](url)

I tried in dev mode to test this feature but I don't be able to achieve the goal.

This is how I compose the link that I use: http://localho

[2022-10-12 08:55] volterra79 commented on #235
@bard0x did you try:
**wrong:**
http://localhost:3000/?project=test/qdjango/1?lat=41.49519&lon=13.658771
**correct**
http://localhost:3000/?project=test/qdjango/1&lat=41.49519&lon=13.658771

Issue is on double **?** query string start in dev mode

[2022-10-14 13:12] #235 closed, assigned to volterra79

[2022-10-14 14:40] tudorbarascu commented on #36
Yep! It works now, thanks!

[2022-10-14 14:49] #36 closed, assigned to volterra79

[2022-10-19 15:24] volterra79 opened #239 "Sometimes the dropdown fields in the search widget panel remain disabled (sidebar panel)"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

Sometime select input on search panel remain disabled without any reason

![Screenshot from 2022-10-19 17-19-56](https://user-images.githubusercontent.com/1051694/196734640-ea8f2406-9f2e-46f9-b0ea-b4eba76ccb52.png)

[2022-10-19 15:24] #239 closed, assigned to volterra79

[2022-10-20 07:45] volterra79 opened #241 "Application navbar overlaps relation result content (page header)"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

When open a content of relation, application header overlap part of result.

![Screenshot from 2022-10-20 09-30-21](https://user-images.githubusercontent.com/1051694/196886038-840c2a43-a8e4-4d5a-92bc-596ec4b9d51d.png

[2022-10-20 07:48] #241 closed, assigned to volterra79

[2022-10-24 07:55] #232 closed, assigned to volterra79

[2022-10-25 13:58] Raruto commented on #230
@volterra79 just to let others know as well, what are "preview attributes"?

[2022-10-25 14:44] volterra79 commented on #230
@Raruto "preview attributes" are the first three fields and relative values of each feature as follow:

![193630114-a2f86f01-0522-425b-b09e-7cfadcf8d65e](https://user-images.githubusercontent.com/1051694/197805131-3b68e224-f136-4217-9760-f8e9fe671351.png)

[2022-10-26 13:27] volterra79 opened #246 "Prevent auto-collapse of map theme selector after changing preset (catalog layers)"
### Checklist

- [X] I've searched through the [current issues](https://github.com/g3w-suite/g3w-client/issues) to make sure this feature hasn't been requested already.

### Motivation

To avoid to reopen map theme section  when a map theme is open, it's would be better that map theme section stay open

### Suggested solution

After select a map theme, map theme section (color blue) stay open:

![

[2022-10-26 13:39] #246 closed, assigned to volterra79

[2022-10-28 07:23] #145 closed, assigned to volterra79

[2022-10-28 07:23] #206 closed, assigned to volterra79

[2022-10-28 08:51] #164 closed, assigned to volterra79

[2022-11-02 08:58] #214 closed, assigned to volterra79

[2022-11-02 09:19] #144 closed, assigned to volterra79

[2022-11-02 09:19] #225 closed, assigned to nobody

[2022-11-11 08:31] volterra79 opened #259 "Can't close modal when click on image"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

After click  image on result, it isn't possible to exit from modal window

### Steps to reproduce

1. Query a layer with filed that contain a image
2. Click on image to show it on modal window
![Screenshot from 2022-

[2022-11-11 08:32] #259 closed, assigned to volterra79

[2022-11-24 11:26] bard0x opened #265 "QSqlDatabase: QODBC driver not loaded"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

![image](https://user-images.githubusercontent.com/24570908/203772721-00490196-1dfc-4e2c-9fb4-2a3375c59df7.png)

### Steps to reproduce

Hi,

I tried to upload a qgs project that reference an azure db. I installed OD

[2022-11-28 11:10] #265 closed

[2022-11-28 11:17] bard0x opened #266 "Slow loading performance using SQL AZURE server"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

Good morning,

I tried to load a simple QGIS project characterized by 11 levels but the basic problem is that for each level, seeing from the browser console, G3W makes a series of calls that take an exaggerated amou

[2022-11-28 16:49] volterra79 commented on #266
@bard0x the problem is on the legend. If you copy a url to a new tab does it take that long to load?

[2022-11-28 20:17] bard0x commented on #266
Hello,

the same happens if I open that same url in another tab.
That is, from your answer, perhaps I guess that I should start my QQGIS project by deleting the legend or setting some particular setting?
If you have any suggestions on this I would be grateful.

Thank you

[2022-11-30 11:20] bard0x commented on #266
**Update:** I tried to make a test by making sure that instead of pointing to **SQL AZURE** I point to a **LOCAL SQL SERVER** naturally using the same project/same DB.

Locally, I don't have any issues in terms of performance.

[2022-11-30 11:29] bard0x opened #267 "[Editing Mode] - QSqlQuery::exec: database not open"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

Hello,

I'm trying to use the editing function on a layer but when I go to modify a parameter with editing mode enabled for that layer, an error alert appears:

![image](https://user-images.githubusercontent.com/2457

[2022-11-30 11:42] volterra79 commented on #266
@bard0x so it should be related not to G3W-SUITE but to the database connection

[2022-11-30 11:44] bard0x commented on #266
Yes I think so too, I still wanted to give an update on the matter. I'll try to increase performance and configuration on the AZURE side, if I have updates I'll post here, so I won't close this issue yet.

[2022-11-30 11:46] volterra79 commented on #266
@bard0x thanks